﻿@{
    ViewBag.Title = "Login - Área do Vendedor";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="container breadcrumb-sistema">
        <div class="container-center">
            <h1>@ViewBag.Title</h1>
            <div class="ui breadcrumb text small">
                <a class="section" href="/">Home</a>
                <i class="right angle icon divider"></i>
                <a class="section">Acesse sua conta</a>
            </div>
        </div>
    </div>
}

<div class="ui grid middle aligned center aligned">
    <div class="row">
        <div class="five wide computer sixteen wide tablet sixteen wide mobile column">
            <form class="ui large form" id="formLoginAssistedSale">
                @Html.AntiForgeryToken()
                <div class="ui segment">
                    <input id="idCustomer" name="idCustomer" type="hidden" value="" />
                    <input id="idTablePrice" name="idTablePrice" type="hidden" value="" />
                    <div class="ui grid  very relaxed stackable middle aligned grid">
                        <div class="row one column ">
                            <div class="column">
                                <div class="ui compact message form-message error">
                                    <p></p>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="email" maxlength="100" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="password" maxlength="100" id="password" placeholder="Senha">
                                    </div>
                                </div>
                                <div class="ui divider hidden"></div>
                                <button type="button" class="ui fluid large submit primary button" id="loginVendaAssistida">
                                    Entrar
                                </button>
                                <div class="ui divider"></div>
                                <p>Esqueceu sua senha? <a href="/assistedsale/forgot">Recuperar senha</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>