.breadcrumb {
    // margin: 10px 0;
    background-color: #F3F3F3;

    .ui.breadcrumb {

        a {
            color: #5a5a5a;
            font-size: 15px;
            font-weight: 100;
            text-transform: capitalize;
        }

        .active.section {
            color: #5a5a5a;
            font-size: 15px;
            font-weight: 100;
            text-transform: capitalize;
        }

        .icon.divider {
            font-size: 1.3em;
            font-weight: 900;
        }
    }
}

.titleAndFilters {
    display: flex !important;

    @media screen and (max-width:$mobile-bp) {
        padding: 0;
        flex-wrap: wrap;

        .filterbutton, 
        .dropdownitens,
        .dropdownorder {
            width: 100%;
            margin: 0 0 5px;
        }
    }

    .dropdownitens,
    .dropdownorder {
        .menu {
            height: auto !important;
        }
    }
}

.pagination {
    .item {
        font-weight: 600 !important;
    }
}

.titleCategory {
    display: table !important;
    font-size: 2.15rem;
    font-weight: 700;
    color: #15659C;
    margin: 0 auto 0 auto;
    font-family: 'Barlow', sans-serif;

    @media screen and (max-width:768px) {
        display: none !important;
    }
}

.titleCategory-mobile {
    display: none;
    font-size: 2.15rem;
    font-weight: 700;
    color: #15659C;
    font-family: 'Barlow', sans-serif;

    @media screen and (max-width:768px) {
        display: table !important;
        margin: 5px auto;
    }
}

.categoria {

    .ui.container {
        width: 100% !important;
    }



    .selecionar {
        width: 100%;
        float: left;
        display: flex;
        margin-bottom: 40px;

        @media screen and (max-width:768px) {
            display: block;
        }

        .ui.basic.button {
            float: right;
            border: 0;
            border-bottom: 1px solid #005A98;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;

            .text {
                font-size: 16px;
            }

            i.exchange {
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                font-size: 16px;
                color: #000;
                margin-left: 10px !important;
            }


            .menu {
                background: transparent;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: none;
                margin-top: 5px;

                .item {
                    background: #fff;
                    border-left: 1px solid rgba(34, 36, 38, 0.15);
                    border-right: 1px solid rgba(34, 36, 38, 0.15);
                }

                .item:hover {
                    background: #fff;
                }

                .item:first-child {
                    border-top: 1px solid rgba(34, 36, 38, 0.15);
                }

                .item:last-child {
                    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
                }
            }
        }


    }

    .filterColumn {
        width: 237px !important;
        box-shadow: none !important;
        padding: 0 !important;
        margin-top: -80px;

        .filtro-categoria {
            width: 210px;
            float: left;

            .column {
                padding: 0;
            }

            .title {
                border: 0 !important;
                border-bottom: 2px dotted #ccc !important;
                padding: 10px 0 !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                font-family: 'Barlow', sans-serif;
            }

            .checkCategory {

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;

                    &:checked {
                        ~label {

                            &:before {
                                content: '';
                                display: flex;
                                width: 17px;
                                height: 17px;
                                border: 0;
                                background-image: url('/assets/image/check.png');
                            }
                        }
                    }
                }

                label {
                    color: #999;
                    padding-left: 25px;

                    &:before {
                        content: '';
                        display: flex;
                        width: 17px;
                        height: 17px;
                        border: 0;
                        background-image: url('/assets/image/uncheck.png');
                    }

                    &:after {
                        display: none !important;
                    }
                }
            }
        }
    }

    #list {
        width: 100%;
        float: left;
        margin-top: 45px;

        @media only screen and (max-width: 999px) {
            margin-top: 10px;
        }

        .ui.three.cards {
            margin: 0 !important;
            -webkit-box-pack: initial;
            -ms-flex-pack: initial;
            justify-content: initial;
        }

        .ui.centered.grid {
            .ui.pagination.menu .active.item {
                background: #005A98;
                color: #fff;
            }
        }

        .produto-prateleira {
            width: calc(100% / 4);
            float: left;
            border-radius: 5px !important;
            @media only screen and (max-width: 999px) {
                margin-bottom: 40px;
            }
            .image {
                width: 100% !important;
                height: 165px;
                float: left;
                overflow: hidden;

                .imagetag {
                    padding: 0.75rem 10px;
                }

                img {
                    // width: 290px;
                    float: left;

                }

                @media only screen and (max-width: 999px) {
                    height: 150px !important;
                    padding: 15px 8px;
                }
            }

            .info {
                width: 100%;
                float: left;
                position: relative;
                margin-top: 20px;

                @media only screen and (max-width: 999px) {
                    margin-top: 0px;
                }

                .dados {
                    width: 100%;
                    float: left;

                    h3 {
                        width: 100%;
                        float: left;
                        font-size: 15px;
                        height: 66px;
                        font-weight: 400;
                        text-align: center;
                        color: #000000;

                        @media only screen and (max-width: 999px) {
                            font-size: 15px;
                            height: 100px;
                        }
                    }

                    .avaliacao {
                        width: 100%;
                        float: left;

                        .rating {
                            margin: 15px auto;
                            display: table;

                            .icon {
                                font-size: 16px;
                            }
                        }
                    }

                    .precoBase {
                        width: 100%;
                        float: left;
                        margin-top: 5px;
                    }

                    .valorde {
                        width: 100%;
                        height: 20px;
                        float: left;
                        text-decoration: line-through;
                        margin-top: 10px;
                        text-align: center;
                        color: #A0A0A0;

                        i {
                            font-style: normal;
                        }
                    }

                    .precoPor {
                        font-size: 13px;
                        width: 100%;
                        float: left;
                        text-align: center;
                        margin-top: 5px;

                        .valor {
                            color: #666666;

                            span {
                                color: #2166C9;
                            }
                        }

                        .msgBoleto {
                            font-size: 13px;
                            color: #4B4B4B;
                        }

                        @media only screen and (max-width: 999px) {
                            font-size: 13px;

                            .msgBoleto {
                                font-size: 13px;
                            }
                        }
                    }

                    .parcelamento {
                        width: 100%;
                        float: left;
                        color: #4B4B4B;
                        font-size: 14px;
                        margin-top: 5px;
                        text-align: center;
                        font-weight: 500;

                        .installmentMaxValue {
                            font-weight: 600;
                            font-size: 17px;
                            color: #2166C9;
                        }

                        @media only screen and (max-width: 999px) {
                            font-size: 14px;

                            .installmentMaxValue {
                                font-size: 15px;
                            }
                        }
                    }


                    .freteStatus {
                        display: none;
                        float: left;
                        font-size: 14px;
                        margin-top: 5px;
                        font-weight: 500;
                        text-align: center;
                    }
                }

                .botoes {
                    display: none;
                    clear: both;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: -67px;
                    background: #fff;
                    height: 55px;
                    @media only screen and (max-width: 999px) {
                        display: block;
                        .btnDetalhes {
                            display: block !important;
                            position: absolute !important;
                            bottom: 0 !important;
                            left: 7.5% !important;
                            color: #fff !important;
                            font-size: 16px !important;
                            box-sizing: border-box;
                            padding: 0 !important;
                            z-index: 10 !important;
                            width: 85%;
                            height: 45px !important;
                            line-height: 45px !important;
                            background: #FB7D32 !important;
                            box-shadow: initial !important;
                            text-transform: capitalize !important;
                            font-weight: 600;
                            .icon-ver::before {
                                content: '\f178';
                                font-family: 'fontAwesome';
                                display: inline;
                            }
                        }
                    }
                }
            }
        }

        .produto-prateleira:hover {
            box-shadow: 0 0 5px #ccc;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            padding-bottom: 0;
            height: 460px;

            .botoes {
                opacity: 1;
                display: block;
            }

            .btnDetalhes {
                position: absolute !important;
                bottom: 0 !important;
                left: 0 !important;
                color: #fff !important;
                font-size: 18px !important;
                box-sizing: border-box;
                padding: 0 !important;
                z-index: 10 !important;
                width: 100%;
                height: 55px !important;
                line-height: 55px !important;
                background: #FB7D32 !important;
                box-shadow: initial !important;
                text-transform: capitalize !important;
                font-weight: 600;

                .icon-ver::before {
                    content: '\f178';
                    font-family: 'fontAwesome';
                    display: inline;
                }
            }
        }
    }
}

.category_banner{
    padding: 30px 15px;
    position: relative;
    p{
        max-width: 760px;
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 100vw;
        height: 100%;
        background: url('/assets/image/banner_categoria-bg.png');
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        background-size: cover;
        top: 0;
        background-position: center;
    }
    &.pet{
        padding: 90px 15px;
        &:before{
            background: url('/assets/image/probel-banner-linha-pet.png');
            background-position: center !important;
        }
    }
}

@media only screen and (max-width: 1250px) {
    .categoria {
        .ui.grid {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 999px) {
    .categoria {
        .filterColumn {
            width: 80% !important;
            margin: 0 10%;

            .filtro-categoria {
                width: 100%;
            }
        }

        #list {
            width: 100%;

            .ui.three.cards {
                .produto-prateleira {
                    width: 50% !important;
                }
            }
        }
    }

    .ui.pagination.menu {
        left: 0;
        height: 40px;
        position: relative;
        overflow: hidden;
        width: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .categoria {
        &.ui.container {
            width: 100%;
        }
    }
}
