.menu {
    height: 50px;
    background-color: #15659C;

    .close {
        display: none;
    }

    ul {
       list-style-type: none;
       padding: 3px 0;
       display: flex;
       justify-content: center;
       
       @media only screen and (max-width: 999px) {
           display: block;
       }

        li {
            float: left;

            a {
                color: #fff;
                padding: 0 13px;
                font-weight: 500;
                text-transform: uppercase;
                font-weight: 600 !important;
            }
        }

        li:first-child a {
            padding-left: 0 !important;
        }
    }
    
    .instMobile{
        display: none;
    }
}

@media only screen and (max-width: 999px) {


    .menu {
        display: block;
        left: -100%;

        width: 80%;
        height: 100%;
        overflow: auto;
        position: absolute;
        background: #fff;
        z-index: 9;
        top: 0;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        box-shadow: 2px 1px 20px 8px #999;

        &.aberto {
            left: 0;
            display: block;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
        }

        .close {
            width: 40px;
            height: 40px;
            background: #fff;
            display: block;
            position: absolute;
            right: 10px;
            top: 10px;
            border-radius: 50%;

            &::after {
                width: 100%;
                content: '\f00d';
                font-size: 28px;
                font-family: 'fontAwesome';
                text-align: center;
                float: left;
                color: #005A98;
                padding-top: 10px;
            }
        }

        ul {
            padding: 0;
            margin: 0;

            .mobile-account {
                width: 101%;
                background: #005A98;
                float: left;
                color: #fff;

                h2 {
                    font-size: 18px;
                    padding: 25px 25px 0;

                    span {
                        display: block;
                    }
                }

                p {
                    padding: 0 25px;
                    display: block;
                }

                ul {                    
                    li {
                        a {
                            color: #fff;

                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }

            li {
                width: 100%;
                border-bottom: 1px solid #eee;

                a {
                    width: 100%;
                    color: #999;
                    text-transform: uppercase;
                    font-weight: 500;
                    padding: 20px 25px;
                    float: left;
                    position: relative;

                    &:first-child {
                        padding: 18.5px 25px !important;
                    }

                    &::after {
                        content: '\f106';
                        font-family: 'fontAwesome';
                        color: #005A98;
                        font-size: 24px;
                        position: absolute;
                        right: 25px;
                    }
                }
            }
        }
        
        .instMobile{
            display: block;
            margin-top: 5px;
            
            .lista_mobile{
                display: block;
                padding: 10px 0;
                .row{
                    display: flex;
                    padding: 12px 0;
                    
                    .column{
                        width: 50%;
                        padding-left: 22.5px;
                        
                        a{
                            font-family: 'Roboto';
                            font-size: 16px;
                            color: #15659C;
                        }
                    }
                }
            }
        }
    }

}