﻿@model IList<DomainProduct.Entities.Attribute>

@if (Model != null)
{
    foreach (var atribute in Model)
    {
        <div class="active title">@atribute.name<span class="plus-icon"></span></div>
        <div class="active content">
            <div class="ui form">
                <div class="grouped fields">
                    @foreach (var valor in atribute.attributeValues)
                    {
                        if (valor.active)
                        {
                            <div class="field">
                                <div class="ui checkbox checkAtribute"  data-type="idAttribute" id="@valor.idAttributeValue" name="@valor.Value" data-reference="@atribute.name.ToLower()">
                                    <input type="checkbox" name="@valor.Value" id="checkAtribute_@valor.idAttributeValue" value="@valor.idAttributeValue">
                                    <label class="text capitalize">@valor.Value.ToLower()</label>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
}