﻿@model IEnumerable<DomainProduct.Entities.ProductImage>

<script>
    jQuery(document).ready(function ($) {
        slickGallery();
    });
    function checkImagesSize(imageQuantity) {
        var images = $(".car-gallery .ui.image").length;
        if (images >= imageQuantity) {
            return imageQuantity;
        } else {
            return images;
        }
    }

    function destroyCarousel() {
        $('.car-gallery').slick('destroy');
    }


    function slickGallery() {
        $('.car-gallery').slick({
            arrow: false,
            dots: false,
            slidesToShow: 2,
            arrows: false,
            mobileFirst:true,
            useTransform:false,
            infinite:false,
            responsive: [
                {
                breakpoint: 500,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    arrows: true
                }
            }]
        });
    }
</script>
<div class="car-gallery thumbnails slick-dotted">
    @foreach (var item in Model)
    {
        <a href="@(item.ImageHighResolution != null ? item.ImageHighResolution : "#" )" data-standard="@item.ImageDefault">
            @* HREF = Imagem ZOOMO / Data-starndard = Imagem Sem zoom*@
            <img @*src="/assets/image/img_default.png" data-*@src="@item.ImageDefault" onerror="imgError(this)" class="ui image small centered"/>
        </a>
    }
</div>
<div class="ui divider hidden"></div>
