﻿@model List<DomainProduct.Entities.Product>
@if (Model != null && Model.Any())
{
<div class="relacionados">
    <div class="titulo">
        <h2>Quem viu, viu também</h2>
    </div>
                
    <div class="ui cards centered car-relacionados slideshow">
        @foreach (var product in Model)
        {
            @Html.Partial("~/Views/Shared/Object/Product/_ProductInCard.cshtml", product)
        }
    </div>
    <div class="ui divider hidden"></div>
</div>
}