﻿@model DomainProduct.Entities.ProductDetail
@{
    DomainProduct.Entities.Sku SKUPadrao = new DomainProduct.Entities.Sku();
    if (TempData["SKUPadrao"] != null)
    {
        SKUPadrao = (DomainProduct.Entities.Sku)TempData["SKUPadrao"];
    }
    string ListaImagens = string.Empty;
    string ListaSKU = string.Empty;
    string AvailableReferences = string.Empty;
    string JsonDetail = string.Empty;
    string variacaoSelecionada = string.Empty;
    string skuSelecionado = string.Empty;
    
    
    ViewModels.ViewModelStore.Produto.TreeReference treeReference = (ViewModels.ViewModelStore.Produto.TreeReference)TempData["TreeReference"];
    if (treeReference != null)
    {
        JsonDetail = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(treeReference);
    }

    if (Model.ProductImages != null)
    {
        ListaImagens = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ProductImages);
    }

    if (Model.SKUs != null)
    {
        ListaSKU = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.SKUs);
    }

    if (Model.AvailableReferences != null)
    {
        AvailableReferences = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AvailableReferences);
    }

    if (Model.AvailableReferences != null && Model.AvailableReferences.Count > 0)
    {
        foreach (var referencias in Model.AvailableReferences.OrderBy(o => o.OrdinationOfReferences).ToList())
        {
            foreach (var variacoes in referencias.Variations)
            {
                if (SKUPadrao.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation).Count > 0)
                {
                    var referencia_selecionada = SKUPadrao.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation);
                    variacaoSelecionada += referencias.IdReference.ToString() + '-' + referencia_selecionada.FirstOrDefault().IdVariation.ToString() + ',';
                }
            }
        }

        string character = variacaoSelecionada.Substring(variacaoSelecionada.Length - 1);
        if (character == ",")
        {
            variacaoSelecionada = variacaoSelecionada.Remove(variacaoSelecionada.Length - 1);
        }
    }


    if (SKUPadrao.InstallmentMax == null)
    {
        SKUPadrao.InstallmentMax = new DomainProduct.Entities.InstallmentMax();
        SKUPadrao.InstallmentMax.MaxNumber = 0;
        SKUPadrao.InstallmentMax.Value = 0;
    }

    List<DomainProduct.Entities.ProductRating> lista_avaliacoes_completa = new List<DomainProduct.Entities.ProductRating>();
    if (Model.ProductRatings.Count > 5)
    {
        lista_avaliacoes_completa.AddRange(Model.ProductRatings);
        lista_avaliacoes_completa.RemoveRange(0, 5);
    }

    //GRADE ABERTA B2C
    var hasOpenSku = ViewBag.HasOpenSku != null ? ViewBag.HasOpenSku : false;

    //OneClickMaxiPago
    var useOneClickMaxiPago = ViewBag.UseOneClickMaxiPago != null ? ViewBag.UseOneClickMaxiPago : false;

    List<DomainProduct.Entities.ProductImage> productFirstReferenceImages = new List<DomainProduct.Entities.ProductImage>();
    List<DomainProduct.Entities.ProductImage> productImages = new List<DomainProduct.Entities.ProductImage>();
    var classSkus = "nine";

    if (hasOpenSku)
    {
        classSkus = Model.SKUs != null ? "seven" : "nine";
        productImages = Model.ProductImages;
    }
    else
    {
        if (Model.AvailableReferences != null)
        {
            foreach (var item in Model.ProductImages)
            {
                int flag = 0;
                if (item.Variacao_ids != null)
                {
                    for (int i = 0; i < item.Variacao_ids.Length; i++)
                    {
                        for (int j = 0; j < SKUPadrao.Variations.Count(); j++)
                        {
                            if (item.Variacao_ids[0] == SKUPadrao.Variations[j].IdVariation)
                            {
                                productFirstReferenceImages.Add(item);
                            }
                            if (item.Variacao_ids[i] == SKUPadrao.Variations[j].IdVariation)
                            {
                                flag++;
                            }
                        }
                    }
                }
                if (flag == SKUPadrao.Variations.Count())
                {
                    productImages.Add(item);
                }
            }

            if (productImages.Count == 0)
            {
                productImages = productFirstReferenceImages;
            }
            if (productImages.Count == 0)
            {
                productImages = Model.ProductImages;
            }
            if (productImages.Count == 0)
            {
                Model.ProductImages.RemoveAll(item => item.Variacao_ids == null);
            }
        }
        else
        {
            productImages = Model.ProductImages;
        }
    }
}

<script>
    var total_avaliacoes_produto = @(Model.ProductRatings != null ? Model.ProductRatings.Count : 0);
    var lista_avaliacao_produto = @(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(lista_avaliacoes_completa)));
</script>
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumb.cshtml";
}
@section remarketing{
    <!-- Google Remarketing -->
    @Html.Action("GoogleRemarketing", "Common", new { origin = ViewContext.RouteData.Values["controller"] })
    <!-- End Google Remarketing -->
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.MetaDescription))
        {
            <meta name="Description" content="@Model.MetaDescription">
        }

        if (!String.IsNullOrEmpty(Model.MetaKeyWords))
        {
            <meta name="Keywords" content="@Model.MetaKeyWords">
        }
    }
}

@section breadcrumbs {
	<div class="container breadcrumb">
		<div class="container-center">
			<div class="ui breadcrumb text small">
				<!--COMEÇO FOREACH CATEGORIAS-->
                    @if (Model.Categories != null)
                    {
                        <a class="section" href="/">Home</a>
                        var _categoriaDefault = Model.Categories.Find(c => c.Default == true);
                        if (_categoriaDefault != null)
                        {
                            var _urlFriendly = "";
                            var _level = _categoriaDefault.Level.Substring(0, _categoriaDefault.Level.Length - 2);
                            List<DomainProduct.Entities.Category> _lstAuxCategories = new List<DomainProduct.Entities.Category>();
                            while (_level.Length >= 2)
                            {
                                var _auxCategory = Model.Categories.Find(c => c.Level == _level);
                                if (_auxCategory != null)
                                {
                                    _lstAuxCategories.Add(_auxCategory);
                                }
                                _level = _level.Substring(0, _level.Length - 2);
                            }
                            _lstAuxCategories.Add(_categoriaDefault);

                            foreach (var _auxCategory in _lstAuxCategories.OrderBy(c => c.Level.Length).ToList())
                            {
                                _urlFriendly = string.Concat("/categoria", _urlFriendly.Replace("/categoria", ""), _auxCategory.UrlFriendly.Replace("/categoria", ""));
                                <i class="right angle icon divider"></i>
                                <a class="section" href="@_urlFriendly">@_auxCategory.Name</a>
                            }
                        }
                    }
                    <!-- FIM FOREACH CATEGORIAS-->
			</div>
		</div>
	</div>
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=656083874584141";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
<script src="https://apis.google.com/js/platform.js" async defer>
    { lang: 'pt-BR' }
</script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- COMEÇO - Váriaveis Produto Principal-->
<input type="hidden" id="produto-id" name="produto-id" value="@Model.IdProduct" />
<input type="hidden" id="produto-stock" name="produto-stock" value="@Model.Stock" />
<input type="hidden" id="produto-sku" name="produto-sku" value="@SKUPadrao.IdSku" />
<input type="hidden" id="produto-codigo" name="produto-codigo" value="@Model.Code" />
<input type="hidden" id="lista-imagens-slide" name="lista-imagens-slide" value="@ListaImagens" />
<input type="hidden" id="principal-total-variacoes" name="principal-total-variacoes" value="@(Model.AvailableReferences != null ? Model.AvailableReferences.Count() : 0) " />
<input type="hidden" id="principal-lista-sku" name="principal-lista-sku" value="@ListaSKU" />
<input type="hidden" id="principal-referencias-selecionadas" name="principal-referencias-selecionadas" value="@variacaoSelecionada" />
<input type="hidden" id="variacoesSelecionadas" value="" />
<input type="hidden" id="has-open-sku" value="@((hasOpenSku == true) ? "true" : "false")" />
<input type="hidden" id="b2b" value="false" />
<!-- FIM - Váriaveis Produto Principal-->
<!-- COMEÇO - Váriaveis Produto Unitário-->
<input type="hidden" value="@Model.Price" id="preco-unidade" name="preco-unidade" />
<input type="hidden" value="@Model.PricePromotion" id="preco-promocao-unidade" name="preco-promocao-unidade" />
@if (Model.InstallmentMax != null)
{
    <input type="hidden" value="@Model.InstallmentMax.Value" id="parcela-maxima-unidade" name="parcela-maxima-unidade" />
    <input type="hidden" value="@Model.InstallmentMax.MaxNumber" id="qtd-parcela-maxima-unidade" name="qtd-parcela-maxima-unidade" />
    <input type="hidden" value="@Model.InstallmentMax.Description" id="pagamento-descricao" name="pagamento-descricao" />
}
<input type="hidden" value="@AvailableReferences" id="principal-produto-referecias" name="principal-produto-referecias" />
<input type="hidden" value="@JsonDetail" id="json-detail" name="json-detail" />
<input type="hidden" value="@ViewBag.DescontoBoleto" id="desconto_boleto" name="desconto_boleto" />
<!-- FIM - Váriaveis Produto Unitário-->
<div class="container produto" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="description" content="">
    <link itemprop="url" href="" rel="author" />
    
    <div class="container-center">
        <div class="row detalhes produto">
            <!-- FIM IMAGENS DO PRODUTO PRINCIPAL-->
            <div class="sixteen wide mobile @classSkus wide computer column" id="exibePartial">
                @Html.Partial("~/Views/Product/Details/_Slide.cshtml", productImages.ToList())
            </div>
            <!-- COMEÇO IMAGENS DO PRODUTO PRINCIPAL-->
            <!-- COMEÇO INFORMAÇÕES DO PRODUTO-->
            <div class="sixteen wide mobile seven wide computer column infoProduto">
                <div class="ui grid">
                    <div class="row product information">
                        <div class="column">
                            <h1 itemprop="name" class="nomeProduto" id="produto-nome">@Model.Name</h1>
                            @if (@Model.Brand != null)
                            {
                                <h5 itemprop="productBrand" class="marcaProduto">@Model.Brand.Name</h5>
                            }
                            else
                            {
                                <h5 itemprop="productBrand" class="marcaProduto"></h5>
                            }
                            <div class="ui one column grid stackable">
                            
                                <div class="column pb-xs-0" style="padding-bottom: 0px !important;">
                                    <div class="codProd">
                                        <span> Código no site:</span> <h6 itemprop="productID" class="codProduto">@Model.Code</h6>
                                    </div>
                                    <div class="skuProd hideme">
                                        <span> SKU:</span> <h6 class="skuProduto">@Model.IdSku</h6>
                                    </div>
                                    <div class="numeroInmetro hideme">
                                        <span> Nº Registro Inmetro:</span> <h6 class="inmetroProduto">@Model.Code</h6>
                                    </div>
                                </div>

                               <!--COMEÇO DETALHES PRODUTO-->
            
                                <div id="detalhes-info_prod" style="padding-top: 15px !important;">
                                    @Html.Raw(Model.DescriptionDetailSummary)
                                </div>

                                <!--FIM DETALHES PRODUTO-->

                                <div class="column hideme">
                                    <div class="avaliacoes">
                                        <div class="ui tiny star rating" data-rating="@Model.Rate.Value.ToString().Replace(",", ".")"></div>
                                        @if (Model.ProductRatings != null)
                                        {
                                            if (Model.ProductRatings.Count() == 1)
                                            {
                                                <span>1 avaliação</span>
                                            }
                                            else
                                            {
                                                <span>(@Model.ProductRatings.Count())</span>
                                            }
                                        }
                                        else
                                        {
                                            <span>0 avaliações</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--COMEÇO DICA DE COMPRA-->
                    <!--<div id="dica_compra_partial">
                        @Html.Action("BuyingTips", "Product", new { productID = @Model.IdProduct, skuID = SKUPadrao != null ? SKUPadrao.IdSku : 0 })
                    </div>-->
                    <!--FIM DICA DE COMPRA-->
                    <div class="row product-grid">
                        <div class="column blocoInfo">
                            <div class="ui middle aligned margin bottom medium blocoValores">
                                @if (hasOpenSku && Model.SKUs != null && Session["EventList"] == null)
                                {
                                    //GRADE ABERTA B2C
                                    @Html.Partial("~/Views/Product/Details/_GradeSkuB2B.cshtml", Model, new ViewDataDictionary { { "useOneCLick", useOneClickMaxiPago }, { "isB2B", false }, { "hasOpenSku", hasOpenSku } });
                                }
                                else
                                {
                                    <!--COMEÇO VARIAÇÔES-->
                                    if (!Model.FlagExhausted)
                                    {
                                        <input type="hidden" id="hdnShowProductOutOfStock" value="@(!LojaCorp.Control.Company._Company.ShowProductOutOfStock ? 0 : 1)" />
                                        if (Model.AvailableReferences != null)
                                        {
                                            <div class="one column ui attached segment" style="padding-bottom: 0px !important;">
                                                @if (Model.ProductGrouping != null)
                                                {
                                                    @Html.Partial("~/Views/Product/Details/_ProductsGrouping.cshtml", Model.ProductGrouping)
                                                }
                                                <div class="column">
                                                    <div id="variations-container" class="grid-variations"></div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            if (Model.ProductGrouping != null)
                                            {
                                                <div class="one column ui attached segment" style="padding-bottom: 0px !important;">
                                                    <div class="column">
                                                        @Html.Partial("~/Views/Product/Details/_ProductsGrouping.cshtml", Model.ProductGrouping)
                                                    </div>
                                                </div>
                                            }
                                        }

                                        @*@Html.Action("Variations", "Product", new { reference = @Model.AvailableReferences, skuPadrao = @SKUPadrao, ListaSku = Model.SKUs })*@
                                    }
                                    <!--FIM VARIAÇÔES-->

                                    if (Model.IsKit)
                                    {
                                        @Html.Partial("~/Views/Product/Details/_ProductsKit.cshtml", Model.KitProducts)
                                    }

                                    <div class="column ui attached segment">
                                        <div class="ui grid">
                                            <div class="row stackable two column pt-xs-0" style="padding-top: 0px !important;">

                                                <!--COMEÇO GRADE-->
                                                <div class="twelve wide computer sixteen wide tablet sixteen wide mobile column padding-bottom no text blocoPreco" itemprop="offers" id="block-price" itemscope="" itemtype="http://schema.org/Offer">
                                                    <div id="variacao-preco">
                                                        @if (Model.IsKit)
                                                        {
                                                            <div class="infoPrecoKit">
                                                                <span class="display block">Sub-Total: @(string.Format("{0:c}", Model.KitProducts.Sum(m => m.PricePromotion)))</span>
                                                                <span class="display block">Desconto do Kit: @(string.Format("{0:c}", Model.KitProducts.Sum(m => m.Discount)))</span>
                                                            </div>
                                                        }

                                                        @if (Model.HaveSku)
                                                        {
                                                            if (SKUPadrao.PricePromotion != null && SKUPadrao.PricePromotion > 0)
                                                            {
                                                                decimal dec = (decimal)@SKUPadrao.PricePromotion;
                                                                <span class="precoAntigo">De: <span id="preco-antigo">@SKUPadrao.Price.ToString("C")</span></span>
                                                                
                                                                if (SKUPadrao.InstallmentMax != null && SKUPadrao.InstallmentMax.MaxNumber > 1)
                                                                {
                                                                    <div class="infoPreco">
                                                                        <span id="max-p">@SKUPadrao.InstallmentMax.MaxNumber</span>
                                                                        <span id="max-value">@SKUPadrao.InstallmentMax.Value.ToString("C")</span>
                                                                        <span id="description">@string.Format("({0})", @SKUPadrao.InstallmentMax.Description)</span>
                                                                    </div>
                                                                }                                                                                                                                             

                                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@dec">@dec.ToString("C")</span>

                                                                if (ViewBag.DescontoBoleto > 0)
                                                                 {
                                                                     var valor_final = (dec - ((dec / 100) * ViewBag.DescontoBoleto));
                                                                     <span id="preco_boleto">ou @string.Format("R${0:0.00}", valor_final) @string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                 }
                                                            }
                                                            else
                                                            {
                                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@SKUPadrao.Price">@SKUPadrao.Price.ToString("C")</span>
                                                                if (SKUPadrao.InstallmentMax != null && SKUPadrao.InstallmentMax.MaxNumber > 1)
                                                                {
                                                                    <div class="infoPreco">
                                                                        <span id="max-p">@SKUPadrao.InstallmentMax.MaxNumber<span>X de</span></span>
                                                                        <span id="max-value">@SKUPadrao.InstallmentMax.Value.ToString("C")</span>
                                                                        <span id="description">@string.Format("({0})", @SKUPadrao.InstallmentMax.Description)</span>
                                                                    </div>
                                                                }

                                                                if (ViewBag.DescontoBoleto > 0)
                                                                 {
                                                                     var valor_final = (SKUPadrao.Price - ((SKUPadrao.Price / 100) * ViewBag.DescontoBoleto));
                                                                     <!-- <span id="preco_boleto">ou @string.Format("R${0:0.00}", valor_final) @string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span> -->
                                                                 }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (Model.PricePromotion != null && Model.PricePromotion > 0)
                                                            {
                                                                decimal dec = (decimal)@Model.PricePromotion;
                                                                <span id="preco-antigo">De: @Model.Price.ToString("C")</span>
                                                                
                                                                if (Model.InstallmentMax != null  && Model.InstallmentMax.MaxNumber > 1)
                                                                {
                                                                    <div class="infoPreco">
                                                                        <span id="max-p">Por: @Model.InstallmentMax.MaxNumber X </span> de
                                                                        <span id="max-value">@Model.InstallmentMax.Value.ToString("C")</span>
                                                                        <span id="description">
                                                                            <!--(@Model.InstallmentMax.Description)-->
                                                                            <br>sem juros no cartão
                                                                        </span>
                                                                    </div>
                                                                }
                                                                
                                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@dec"><span>Ou </span> @dec.ToString("C") <span> à vista<br>5% de desconto no boleto</span></span>
                                                                
                                                                if (ViewBag.DescontoBoleto > 0)
                                                               {
                                                                   var valor_final = (dec - ((dec / 100) * ViewBag.DescontoBoleto));
                                                                   <!-- <span id="preco_boleto">ou @string.Format("R${0:0.00}", valor_final) @string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span> -->
                                                               }
                                                            }
                                                            else
                                                            {
                                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@Model.Price">@Model.Price.ToString("C")</span>
                                                                if (Model.InstallmentMax != null && Model.InstallmentMax.MaxNumber > 1)
                                                                {
                                                                    <div class="infoPreco">
                                                                        <span>em</span>
                                                                        <span id="max-p">@Model.InstallmentMax.MaxNumber<span>X de</span></span>
                                                                        <span id="max-value">@Model.InstallmentMax.Value.ToString("C")</span>
                                                                        <span id="description">(@Model.InstallmentMax.Description)</span>
                                                                    </div>
                                                                }
                                                                if (ViewBag.DescontoBoleto > 0)
                                                                {
                                                                    var valor_final = (Model.Price - ((Model.Price / 100) * ViewBag.DescontoBoleto));
                                                                    <span id="preco_boleto">ou @string.Format("R${0:0.00}", valor_final) @string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                }
                                                            }
                                                        }
                                                    </div>

                                                    @if (!string.IsNullOrEmpty(@Model.DescriptionAvailabilityStatus))
                                                    {
                                                        <p class="text color grey regular parcelamento small">@Model.DescriptionAvailabilityStatus</p>
                                                    }
                                                </div>
                                                <!--FIM GRADE-->
                                                
                                                <div class="twelve wide computer sixteen wide tablet sixteen wide mobile column middle aligned blocoQtd">
                                                    <div class="ui qtd action mini input">
                                                        <button class="ui icon button qtdminus" id="qtdminus-detalhes">
                                                            <i class="minus icon"></i>
                                                        </button>
                                                        <input type="number" min="1" step="1" size="3" value="1"
                                                            name="quantidade" id="quantidade" class="text center" />
                                                        <button class="ui grey icon button qtdplus" id="qtdplus-detalhes">
                                                            <i class="add icon"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="ten wide computer sixteen wide tablet sixteen wide mobile column btnComprar">
                                                    <a class="@(Model.Stock == 0 || Model.FlagExhausted ? " disabled " : " ") ui animated button detalhes @(Session["EventList"] !=null ? "btn-add-event-list" :"btn-comprar") @(Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0) ? "disabled action" : "action" )">
                                                        
                                                        <div class="infoPreco btnComprarInfo hideme">
                                                            <p>
                                                                <span id="max-parcel"></span> de
                                                                <span id="preco_parcel"></span>
                                                            </p>
                                                            <p class="precoClass hideme">à vista <span itemprop="price" id="preco_fixo"></span></p>
                                                        </div>

                                                        @if (Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0))
                                                        {
                                                            <div class="visible content" style="margin-right:0px;">
                                                                PRODUTO ESGOTADO
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="visible content" style="margin-right:0px;">
                                                                @(Session["EventList"] != null ? "ADICIONAR À LISTA" : "Comprar")
                                                            </div>
                                                        }
                                                        
                                                    </a>
                                                    <br />
                                                     <div class="compraSegura">Compra segura</div>
                                                    @if (useOneClickMaxiPago)
                                                    {
                                                        <a class="@(Model.Stock == 0 || Model.FlagExhausted ? " disabled " : " ") ui button small animated basic detalhes btn-comprar-oneclick  @(Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0) ? " disabled" : "" )">
                                                            <div class="visible content">Comprar com 1-Click</div>
                                                            <div class="hidden content">
                                                                <i class="add to cart icon"></i>
                                                            </div>
                                                        </a>
                                                    }

                                                    @{
                                                        bool inlist = false;
                                                        string color = "grey";

                                                        if (ViewBag.InWishList)
                                                        {
                                                            inlist = true;
                                                            color = "red";
                                                        }
                                                    }
                                                    @{
                                                        bool isb2b = Session["segment"] != null && Session["segment"].ToString() == "b2b" ? true : false;
                                                        if (!isb2b)
                                                        {
                                                            <!--<div class="one column wishlistDetails">
                                                                <div class="column">
                                                                    <a href="#" class="wishlist-btn" data-wishlist-local="detail">
                                                                        <i class="icon heart @color wishlist-item" data-in-list="@inlist" data-have-sku="@(Model.AvailableReferences != null && Model.AvailableReferences.Count() > 0 ? "true" : "false")" data-product-id="@Model.IdProduct"></i>
                                                                        <span>Adicionar a Lista de Desejo</span>
                                                                    </a>
                                                                </div>
                                                            </div>-->
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            @if (!Model.FlagExhausted)
                            {
                                <div class="hideme" id="pagamento-calculado">
                                    @if (@Model.PricePromotion != null && @Model.PricePromotion > 0)
                                    {
                                        @Html.Action("Payment", "Product", new { valor = @Model.PricePromotion, flagExibir = Model.FlagExhausted == true || Model.Stock <= 0 ? false : true })
                                    }
                                    else
                                    {
                                        @Html.Action("Payment", "Product", new { valor = @Model.Price, flagExibir = Model.FlagExhausted == true || Model.Stock <= 0 ? false : true })
                                    }
                                </div>
                            }

                            @if (Model.HaveSku)
                            {
                                if (!hasOpenSku)
                                {
                                    if (Model.FlagExhausted || SKUPadrao.Stock == 0)
                                    {
                                        @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", true)
                                    }
                                    else
                                    {
                                        @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", false)
                                    }
                                }
                            }
                            else
                            {
                                if (Model.FlagExhausted || Model.Stock == 0)
                                {
                                    @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", true)
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", false)
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM INFORMAÇÕES DO PRODUTO-->
        </div>

        <div class="detalhes-prod">
            <h4>Características</h4>
            <!--COMEÇO DESCRIÇÃO PRODUTO-->
            <div id="descricao">
                @Html.Raw(@Model.DescriptionDetail)
            </div>
            <!--FIM DESCRIÇÃO PRODUTO-->
        </div>   

        <div class="video-prod">
            <h2> Dá só uma olhada no vídeo que a Probel preparou pra você! <span> <img src="/assets/image/youtube-prod.png"> </span></h2>

            <div class="video"></div>
        </div>


        @if (!Model.FlagExhausted && !hasOpenSku)
        {
            <div class="row" id="buy-together">
                @if (Model.BuyTogether != null && Model.BuyTogether.Count > 0 && Session["EventList"] == null)
                {
                    @Html.Partial("~/Views/Product/Details/_BuyTogether.cshtml", Model)
                }
            </div>
        }
        <div class="row" id="AlsoProducts">
            @if (Model.AlsoProductsPurchased != null && Model.AlsoProductsPurchased.Count > 0)
            {
                @Html.Partial("~/Views/Product/Details/_AlsoPurchased.cshtml", Model.AlsoProductsPurchased)
            }
        </div>
        <div class="row" id="RelatedProducts">
            @if (Model.RelatedProducts != null && Model.RelatedProducts.Count > 0)
            {
                @Html.Partial("~/Views/Product/Details/_RelatedProducts.cshtml", Model.RelatedProducts)
            }
        </div>


        
    </div>
</div>


<div class="ui modal login">
    <i class="close icon"></i>
    <div class="header ui center aligned segment">Faça login ou cadastre-se para continuar</div>
    <div class="description">
        @Html.Action("LoginPartial", "Customer", new { _class = "modal-login", returnURL = Model.UrlFriendlyCustom != null ? $"/Customer/AutoAddProductInWishListBeforeLogin?redirectToPage={Model.UrlFriendlyCustom}" : $"/Customer/AutoAddProductInWishListBeforeLogin?redirectToPage={Model.UrlFriendly}" })
    </div>
</div>