﻿@model DomainProduct.Entities.Category
@{
  ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
  Layout = "~/Views/Shared/Base/_LayoutBreadCrumbLeftSideBar.cshtml";
  var returnUrl = HttpContext.Current.Request.Url.AbsolutePath;
}

@section CustomSeo {
  @{
    if (!String.IsNullOrEmpty(Model.MetaDescription))
    {
      <meta name="Description" content="@Model.MetaDescription">
    }
  }
}

@section banner {
	@if (Model != null)
	{
		@Html.Action("BannerCategory", "Banner", new { id = Model.IdCategory, type = 'C' })
	}
}

@section breadcrumbs {
	<div class="container breadcrumb">
		<div class="container-center">
			<div class="ui breadcrumb text small">
				<a class="section" href="/">Home</a>
				<i class="right angle icon divider"></i>
				<div class="active section">@(Model != null ? Model.Name : "")</div>
			</div>
		</div>
	</div>

	<div class="ui container categoria">
		<div class="container-center">
			@{
				if(Request.Url.AbsoluteUri == "https://www.probel.com.br/categoria/linha-pet"){
					<div class="category_banner pet"></div>
				}else{
					<div class="category_banner">
						<h1 class="titleCategory" style="display:block !important">@(Model != null ? Model.Name : "")</h1>
						@if (!String.IsNullOrEmpty(Model.MetaDescription))
						{
							<p style="margin-top: 15px; margin-bottom: 35px; text-align: justify">@Model.MetaDescription</p>
						}
					</div>
				}
			}
}

@section filters {
  <div class="three wide column filterColumn">
    <div class="row one column filterBlock" id="filterBlock">
      <!-- Page: ~/Views/Shared/Common/_FilterMenu.cshtml -->
      @if (LojaCorp.Control.Company._Company.ViewProductFiltersUrl)
      {
        @Html.Action("FilterMenuNew", "Product", new { category = Model.IdCategory, brand = "", group = "", keyword = "" })
      }
      else
      {
        @Html.Action("FilterMenu", "Product")
      }
    </div>
    <div class="row">
      <!-- Page: ~/Views/Shared/Blocks/Banner/_SideHalfBanner.cshtml -->
      @Html.Action("SideHalfBannerCategory", "Banner", new { categoryId = Model.IdCategory })
    </div>
  </div>
}

<div class="thirteen wide column content_category">
		<div class="ui grid">
				<div class="row one column">
						<div class="column right aligned right floated titleAndFilters">
								<button class="ui mobile only left floated icon button basic filterbutton right labeled small" data-tooltip="Filtros" data-inverted="">
										<i class="filter icon"></i>
										Filtros
								</button>
								@*<h1 class="titleCategory">@(Model != null ? Model.Name : "")</h1>*@
								<div class="ui dropdown button basic dropdownitens small" style="display: none">
										<span class="text">@(Request.QueryString["pageSize"] != null ? Request.QueryString["pageSize"] : "Itens")</span>
										<i class="dropdown icon"></i>
										<div class="menu">
												<div class="item" data-value="12">
														12
												</div>
												<div class="item" data-value="18">
														18
												</div>
												<div class="item" data-value="24">
														24
												</div>
												<div class="item" data-value="30">
														30
												</div>
										</div>
								</div>
								<div class="ui dropdown button basic dropdownorder small">
										<span class="text">Ordenar por</span>
										<i class="dropdown icon"></i>
										<div class="menu">
												<div class="item" data-value="lancamentos">
														<i class="asterisk icon"></i>
														Lançamentos
												</div>
												<div class="item" data-value="maior_preco">
														<i class="sort numeric descending icon"></i>
														Maior Preço
												</div>
												<div class="item" data-value="mais_vendidos">
														<i class="diamond icon"></i>
														Mais Vendidos
												</div>
												<div class="item" data-value="menor_preco">
														<i class="sort numeric ascending icon"></i>
														Menor Preço
												</div>
												<div class="item" data-value="nome_a_z">
														<i class="sort alphabet ascending icon"></i>
														Nome [A-Z]
												</div>
												<div class="item" data-value="nome_z_a">
														<i class="sort alphabet descending icon"></i>
														Nome [Z-A]
												</div>


										</div>
								</div>
						</div>
				</div>
		</div>
		<div id="list">
				<!-- ~/Views/Shared/Blocks/Product/_ProductsCategoryList.cshtml -->
				<!-- ~/Views/Shared/Blocks/Product/_ProductsCategoryGrid.cshtml -->
				@if (Model != null)
				{
						@Html.Action("GetProductsCategory", "Product", new {
								category = Model.IdCategory,
								viewList = Request.QueryString["viewList"] ?? "",
								pageNumber = Request.QueryString["pageNumber"] ?? "",
								pageSize = LojaCorp.Control.Company._Company.QuantityItemsPage > 0 ? LojaCorp.Control.Company._Company.QuantityItemsPage : 12,
								order = Request.QueryString["order"] ?? "",
								brand = Request.QueryString["brand"] ?? "",
								group = Request.QueryString["group"] ?? "",
								initialPrice = Request.QueryString["initialPrice"] ?? "",
								finalPrice = Request.QueryString["finalPrice"] ?? "",
								variations = Request.QueryString["variations"] ?? "",
								idAttribute = Request.QueryString["idAttribute"] ?? "",
								idCategories = Request.QueryString["idCategories"] ?? ""
						})
				}
		</div>
</div>

<input type="hidden" name="CurrentPage" id="CurrentPage" value="category" />
<input type="hidden" name="GenericPageFilter" id="GenericPageFilter" value="@Model.IdCategory" />
<input type="hidden" name="infinityPage" id="infinityPage" value="@LojaCorp.Control.Company._Company.InfiniteScrolling.ToString()" />
<input type="hidden" name="itensPage" id="itensPage" value="@LojaCorp.Control.Company._Company.QuantityItemsPage" />
<input type="hidden" name="ViewProductFiltersUrl" id="ViewProductFiltersUrl" value="@LojaCorp.Control.Company._Company.ViewProductFiltersUrl.ToString()" />