.p-cupom-desconto {
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  background: url(/assets/image/icon-cupon-desconto.png);
  background-position: center left 0px;
  background-repeat: no-repeat;
  padding-left: 22px;
}
.p-texto-pagamentos {
  text-align: center;
  margin: 0;
  padding: 6px 0;
  font-weight: bold;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: url(/assets/image/icon-forma-pagamento.png);
  background-position: center left 0px;
  background-repeat: no-repeat;
  padding-left: 22px;
}
@media screen and (max-width: $mobile-bp) {
      .logo {
        display: block !important;
        margin: 0 auto;
      }
    }
.input-datepicker .agendar{
    width:120px;
}
.jetBg {
  background: rgb(248, 248, 248) !important;
  
  .ui.segment {
    box-shadow: none;
  }
}

.whiteBg {
  background: white;
}


.jet.checkout {
  .success {
    .icon {
      color: $dark-green;
    }
  }

  &.jBreadCrumb {
    @extend .flexCenter;
    @media screen and (max-width: $mobile-bp) {
      display: none;
    }
    .jCrumb {
      @extend .flexCenter;
      flex-wrap: wrap;
      margin: 0 10px;
      z-index: 2;
      .jBullet {
        @extend .flexCenter;
        background: #fefefe linear-gradient(to right, #fefefe 0, #e3e3e3 100%);
        border-radius: 50%;
        color: #ffffff;
        height: 50px;
        width: 50px;
        @media screen and (max-width: $mobile-bp) {
          height: 35px;
          width: 35px;
        }

      }
      .jButton {
        background: #ddd;
        border: 2px solid #ffffff;
        border-radius: 50%;
        height: 40px;
        text-align: center;
        width: 40px;
        @media screen and (max-width: $mobile-bp) {
          height: 30px;
          width: 30px;
        }
        span {
          font-size: 20px;
          line-height: 34px;
          @media screen and (max-width: $mobile-bp) {
            font-size: 15px;
            line-height: 28px;
          }
        }
      }
      h4 {
        clear: both;
        flex: none;
        margin-top: 10px;
        text-transform: uppercase;
        width: 100%;
        @media screen and (max-width: $mobile-bp) {
          display: none;
        }
      }

      &.active {
        .jButton {
          background: $primary-color;
        }
        h4 {
          color: $primary-color;
        }
      }

      &.completed {
        .jButton {
          background: $primary-color;
          span {
            color: white;
            i {
              margin-left: 4px;
            }
          }
        }
        h4 {
          color: $primary-color;
        }
      }

    }

    &:after {
      content: "";
      border-bottom: 6px solid rgb(246, 246, 246);
      width: 65%;
      position: absolute;
      top: 23px;
      z-index: 1;
      @media screen and (max-width: $mobile-bp) {
        content: "";
        border-bottom: 3px solid #f6f6f6;
        width: 30%;
        position: absolute;
        top: 17px;
        z-index: 1;
      }
    }
  }

  input:not([type]),
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="text"],
  input[type="file"],
  input[type="url"] {
    border: 0px;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0px !important;
    &.fluid {
      min-width: 60%;
      width: 100%;
    }
  }
}

.presente {
  #checkPresente {
    margin-top:10px;
  }
}


#jetCheckout-Logo {
    #logo {
        fill: #00B04C;
    }

    #lock {
        fill: #010101;
    }

    #texto {
        fill: #010101;
    }
}

.ui.form .two.fields > .fields, .ui.form .two.fields > .field.hidden {
    display: none;
}

.success-debit-pagseguro {
    background-color: white; 
    color: black; 
    padding: 15px; 
    border-radius: 5px;
}

.success-debit-pagseguro h3 {
    text-align: center;
}

.no-border {
    border: 0 none !important;
}

@media screen and (max-width: $tablet-bp-max) {
  .jetCheckout {
    margin-bottom: 1em !important;
  }
}

.bg-gray{
    background-color: #d9d9d9 !important;
    color: #363533 !important;
} 

@media (max-width: 999px) {
  #formas-pagamento{
    #tabPayment {
      left: 0 !important;
      height: auto !important;
      position: relative !important;
      width: 100% !important;
      padding: 0 5px !important;
    }
  }
}
#formas-pagamento{
  .ui.secondary.menu .item{
    box-shadow: 0 0 0 1px #21ba45 !important;
    &.active{
      background-color: #21ba45 !important;
      color: #fff !important;
    }
  }
}