.breadcrumb_page_order{
    width: 100%;
    padding: 9px 0px !important;
    position: relative;
    top: -15px;
    &::before, &::after{
        content: '';
        width: 100vw;
        position: absolute;
        background: #f3f3f3;
        display: block;
        height: 35px;
        z-index: -1;
        top: 0;
    }
    &::before{
        left: 0;
    }
    &::after{
        right: 0;
    }
    i.icon.angle.right:before {
        font-size: 16px;
    }
    a{
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
    a, i{
        color: #686868;
    }
}
.dadosPedido{
    & > .stackable {
        padding: 0px !important;
        > .column {
            &:nth-child(2){
                .list{
                    .item:nth-child(1){
                        .content{
                            font-weight: bold;
                        }
                    }
                }
            }
            .padded{
                min-height: 235px;
                border: none !important;
                box-shadow: none !important;
                background: #F4F4F4;
                h5{
                    font-family: Barlow;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: #15659C;
                }
                .list{
                    .item{
                        i{
                            display: none;
                        }
                        .content{
                            padding-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
    #reprintBankSlip {
        background-color:   transparent !important;
        color: #FB7D32 !important;
        border: 2px solid #FB7D32 !important;
        width: 100%;
        box-shadow: none !important;
        &:hover, &:focus, &:active, &:checked{
            background-color:   transparent !important;
            color: #FB7D32 !important;
            border: 2px solid #FB7D32 !important;
            width: 100%;
            box-shadow: none !important;
        }
    }
       
}
#order_products_list_cart{
    h1{
        font-size: 16px;
        line-height: 19px;
        color: #4F4F4F
    }
    .product_image{
        display: block !important;
        max-width: 140px;
        padding: 0 !important;
        img{
            max-width: 100%;
        }
    }
    tbody tr td{
        vertical-align: top;
    }
    thead.full-width > tr:nth-child(1) > th:nth-child(2) {
        display: block !important;
        min-height: 71.6px;
    }
       
}
.order_title{
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #15659C;
    margin-bottom: 35px;
    margin-top: 35px !important;
    @media (max-width:768px) {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 0px !important;
    }
}
.order_title.Cancelado{
    text-align: center !important;
}
@media (max-width:768px) {
    .order_title.Cancelado{
        text-align: left !important;
    }
}
.order_steps{
    padding: 0;
    display: flex;
    li{
        display: inline-block;
        width: 14%;
        text-align: center;
        position: relative;
        &.step_1{
            order: 1;
            &::before{
                display: none;
            }
        }
        &.step_2{
            order: 2;
        }
        &.step_3{
            order: 3;
        }
        &.step_4{
            order: 4;
        }
        &.step_5{
            order: 5;
        }
        &.step_6{
            order: 6;
        }
        &.step_7{
            order: 7;
            &:before{
                background: rgba(196, 196, 196, 1) !important;
            }
        }
        &.step_8{
            display: none;
        }
        &:before{
            content: '';
            width: 100%;
            height: 7px;
            background: #C4C4C4;
            position: absolute;
            display: block;
            left: -50%;
            top: 12px;
        }
        i{
            height: 30px;
            width: 30px;
            display: block;
            background-color: #15659C;
            border-radius: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            background-position: center;
            background-repeat: no-repeat;
            z-index: 2;
        }
        p{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            font-family: Barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            width: 105px;
            min-height: 36px;
            margin-top: 15px;
        }
        span{
            font-family: Barlow;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            color: #4B4B4B;
        }
        &.checked{
            color: #15659C;
            i{
                background-image: url('/assets/image/checked_item.png');
            }
            &:before{
                background: #15659C;
            }
        }
        &.actived{
            color: #FB7D32;
            &:before{
                background: radial-gradient(75.12% 63178.56% at 10.34% 100%, #15659C 0%, #FB7D32 100%);
            }
            i{
                background-color: #FB7D32;
                background-image: url('/assets/image/actived_item.png');
            }
        }  
        &.actived + .actived{
            color: #C4C4C4;
            &:before{
                background: linear-gradient(90deg, #FB7D32 6.56%, rgba(196, 196, 196, 1) 93.44%);
            }
            p{
                margin-top: 20px;
            }
            i{
                background-image: url('/assets/image/disabled_item.png');
                margin: 5px 0;
                height: 21px;
                width: 21px;
                background-color: #C4C4C4;
            }
            span{
                display: none;
            }
        }
    }
    &.Novo{
        .step_3, .step_4, .step_5, .step_6, .step_7{
            color: #C4C4C4 !important;
            &:before{
                background: rgba(196, 196, 196, 1) !important;
            }
            p{
                margin-top: 20px;
            }
            i{
                background-image: url('/assets/image/disabled_item.png');
                margin: 5px 0;
                height: 21px;
                width: 21px;
                background-color: #C4C4C4;
            }
            span{
                display: none;
            }
        }  
        .step_2{
            color: #FB7D32 !important;
            &:before{
                background: radial-gradient(75.12% 63178.56% at 10.34% 100%, #15659C 0%, #FB7D32 100%) !important;
            }
            i{
                margin: 0 !important;
                height: 30px !important;
                width: 30px !important;
                background-color: #FB7D32 !important;
                background-image: url('/assets/image/actived_item.png') !important;
            }
        }
    }
    &.Aprovado{
        .step_4, .step_5, .step_6, .step_7{
            color: #C4C4C4 !important;
            &:before{
                background: rgba(196, 196, 196, 1) !important;
            }
            p{
                margin-top: 20px;
            }
            i{
                background-image: url('/assets/image/disabled_item.png');
                margin: 5px 0;
                height: 21px;
                width: 21px;
                background-color: #C4C4C4;
            }
            span{
                display: none;
            }
        }  
        .step_3{
            color: #FB7D32 !important;
            &:before{
                background: radial-gradient(75.12% 63178.56% at 10.34% 100%, #15659C 0%, #FB7D32 100%) !important;
            }
            i{
                margin: 0 !important;
                height: 30px !important;
                width: 30px !important;
                background-color: #FB7D32 !important;
                background-image: url('/assets/image/actived_item.png') !important;
            }
        }
    }
    &.Em{
        .step_6, .step_7{
            color: #C4C4C4 !important;
            &:before{
                background: rgba(196, 196, 196, 1) !important;
            }
            p{
                margin-top: 20px;
            }
            i{
                background-image: url('/assets/image/disabled_item.png');
                margin: 5px 0;
                height: 21px;
                width: 21px;
                background-color: #C4C4C4;
            }
            span{
                display: none;
            }
        }  
        .step_4, .step_5{
            color: #FB7D32 !important;
            &:before{
                background: radial-gradient(75.12% 63178.56% at 10.34% 100%, #15659C 0%, #FB7D32 100%) !important;
            }
            i{
                margin: 0 !important;
                height: 30px !important;
                width: 30px !important;
                background-color: #FB7D32 !important;
                background-image: url('/assets/image/actived_item.png') !important;
            }
        }
        .step_5{
            &:before{
                background: #FB7D32 !important;
           } 
        }
    }
    &.Despachado{
        .step_7{
            color: #C4C4C4 !important;
            &:before{
                background: rgba(196, 196, 196, 1) !important;
            }
            p{
                margin-top: 20px;
            }
            i{
                background-image: url('/assets/image/disabled_item.png');
                margin: 5px 0;
                height: 21px;
                width: 21px;
                background-color: #C4C4C4;
            }
            span{
                display: none;
            }
        }  
        .step_6{
            color: #FB7D32 !important;
            &:before{
                background: radial-gradient(75.12% 63178.56% at 10.34% 100%, #15659C 0%, #FB7D32 100%) !important;
            }
            i{
                margin: 0 !important;
                height: 30px !important;
                width: 30px !important;
                background-color: #FB7D32 !important;
                background-image: url('/assets/image/actived_item.png') !important;
            }
        }
    }
    &.Tracking{
        .step_7{
            color: #FB7D32 !important;
            &:before{
                background: radial-gradient(75.12% 63178.56% at 10.34% 100%, #15659C 0%, #FB7D32 100%) !important;
            }
            i{
                margin: 0 !important;
                height: 30px !important;
                width: 30px !important;
                background-color: #FB7D32 !important;
                background-image: url('/assets/image/actived_item.png') !important;
            }
        }
    }
    &.Concluído{
        .step_7{
            color: #15659C !important;
            i{
                background-color: #15659C !important;
                background-image: url('/assets/image/checked_item.png') !important;
            }
            &:before{
                background: #15659C !important;
            }
        }
    }
    &.Cancelado{
        justify-content: center;
        .step_1{
            color: #15659C !important;
            i{
                background-color: #15659C !important;
                background-image: url('/assets/image/checked_item.png') !important;
            }
            &:before{
                background: #15659C !important;
            }
        } 
        .step_8{
            order: 8;
            display: block !important;
            color: #666666 !important;
            i{
                background-color: #666666 !important;
                background-image: url('/assets/image/canceled_item.png') !important;
            }
            &:before{
                background: radial-gradient(75.12% 63178.56% at 10.34% 100%, #15659C 0%, #666666 100%) !important;
            }
        }
        .step_2, .step_3, .step_4, .step_5, .step_6, .step_7{
            display: none;
        }
    }
    @media (max-width:960px) {
        li{
            width: 100px;
            display: block;
        }
    }
    @media (max-width:768px) {
        flex-wrap: wrap;
        text-align: left;
        li{
            width: 100%;
            height: 55px;
            i{
                left: 50px;
            }
            p{
                left: 170px;
                width: 180px;
                text-align: left;
                position: absolute;
                top: -15px;
                line-height: 18px;
            }
            span{
                position: absolute;
                left: 80px;
                top: 17px;
            }
            &.step_6{
                span:nth-child(5){
                    top: 33px !important;
                }
            }
            &:before{
                left: 47px;
                width: 7px;
                height: 45px;
                top: -40px;
            }

        }
        &.Novo{
            .step_2{
                &:before{
                    background: linear-gradient(180deg, #15659C 6.56%, #FB7D32 100%) aliceblue !important
                }
            }
        }
        &.Aprovado{
            .step_3{
                &:before{
                   background: linear-gradient(180deg, #15659C 6.56%, #FB7D32 100%) aliceblue !important
                }
            }
        }
        &.Em{
            .step_4{
                &:before{
                   background: linear-gradient(180deg, #15659C 6.56%, #FB7D32 100%) aliceblue !important
                }
            }
        }
        &.Despachado{
            .step_6{
                &:before{
                   background: linear-gradient(180deg, #15659C 6.56%, #FB7D32 100%) aliceblue !important
                }
            }
        }
        &.Tracking{
            .step_7{
                &:before{
                   background: linear-gradient(180deg, #15659C 6.56%, #FB7D32 100%) aliceblue !important
                }
            }
        }
        &.Cancelado{
            .step_8{
                &:before{
                   background: linear-gradient(180deg, #15659C 6.56%, #666666 100%) aliceblue !important
                }
            }
        }
    }
}
#order_products_list_cart{
    tfoot th{
        border-top: none !important;
        padding: 6px 1em !important;
    }
}