﻿@model DomainOrder.Entities.Order
@{
  /**/

  ViewBag.Title = "Detalhes do Pedido";
  Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";

}

@section breadcrumbs {
  <div class="ui container-center">
    <div class="ui one column grid stackable middle aligned">
      <div class="row">
        <div class="column">
          <!-- <h1>@ViewBag.Title</h1> -->
          <div class="ui breadcrumb text small breadcrumb_page_order">
            <a class="section" href="/">Home</a>
            <i class="right angle icon divider"></i>
            <a class="section" href="/Customer">Área do Cliente</a>
            <i class="right angle icon divider"></i>
            <a class="section" href="/Order">Histórico de Pedidos</a>
            <i class="right angle icon divider"></i>
            <a class="section">Informação do Pedido</a>
          </div>
        </div>
      </div>
    </div>
  </div>
}

<!-- ~/Views/Shared/Object/Order/_PrintOrder.cshtml -->
@Html.Partial("Object/Order/_PrintOrder", Model)

@if (Model != null)
{
  @Html.Action("StatusOrder", "Order", new { orderId = Model.IdOrder })

  @Html.Action("ListDetailsExchangeReturn", "Order", new { orderId = Model.IdOrder })

  <br />
  <div class="row">
    <div class="column">
      <button id="print" class="ui animated button right floated" tabindex="0">
        <div class="visible content">Imprimir</div>
        <div class="hidden content">
          <i class="print icon"></i>
        </div>
      </button>
    </div>
  </div>
}



<script>
  $('.ui.accordion').accordion({
    selector: {
      trigger: '.title .qus_label'
    }
  });
</script>

<div class="ui modal yami">
    <!--<div class="header">
        Troca ou Devolução
    </div>-->
    <div class="scrolling content iframe-modal">

    </div>
    <div class="actions">
        <div class="ui cancel button">Fechar</div>
    </div>
</div>