.seja_lojista {
    h3 {
        float: none !important;
    }
    .floated_button {
        position: fixed;
        right: 0;
        bottom: 35px;
        background: #fb8a47;
        padding: 12px 20px;
        color: #fff;
        font-weight: 600;
        z-index: 999;
    }
    .first {
        .row:nth-child(1) {
            justify-content: center;
            ul {
                padding: 0;
                text-align: center;
                li {
                    display: inline-block;
                    background: #e3f0f8;
                    color: #00659f;
                    padding: 10px 23px;
                    margin: 5px;
                }
            }
        }
        .row:nth-child(2) {
            text-align: center;
            h2 {
                margin-top: 30px;
                font-size: 42px;
                color: #171717;
                font-family: Barlow;
                font-weight: 600;
            }
            img{
                margin-top: 25px;
                margin-bottom: 15px;
                max-width: 100%;
            }
        }
        .row:nth-child(3) {
            div:nth-child(1) {
                width: 40%;
            }
            div:nth-child(2) {
                width: 60%;
            }
            h3{
                font-family: Barlow;
                font-weight: 700;
                color: #00659F;
                font-size: 32px;
                padding-right: 20px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    position: relative;
                    font-family: Barlow;
                    font-weight: 600;
                    color: #00659F;
                    background: #E3F0F8;
                    margin: 5px 10px;
                    display: inline-flex;
                    align-items: center;
                    font-size: 17px;
                    padding: 12px 30px 12px 70px;
                    border-radius: 6px;
                    &::before{
                        content: '';
                        width: 40px;
                        height: 40px;
                        display: block;
                        background: #fff;
                        position: absolute;
                        border-radius: 100%;
                        box-shadow: 4px 4px 12px #16506A2B;
                        left: 10px;
                    }
                    &::after{
                        content: '';
                        display: inline-block;
                        transform: rotate(45deg);
                        height: 16px;
                        width: 10px;
                        border-bottom: 4px solid #2196F3;
                        border-right: 4px solid #2196F3;
                        position: absolute;
                        left: 25px;
                    }
                    &.w-50{
                        width: calc(50% - 20px);
                    }
                    &.w-100{
                        width: 100%;
                        padding: 22px 30px 22px 70px;
                    }
                }
            }
        }
        .row:nth-child(4) {
            h2{
                margin-top: 50px;
                margin-bottom: 40px;
                text-align: center;
                color: #303030;
                font-size: 30px;
                strong{
                    color: #00659F;
                    font-size: 40px;
                    font-weight: 700;
                }
            }
        }
        .vantagens{
            .item{
                padding: 15px;
                box-shadow: 12px 13px 11px #0000000D;
                margin: 0px 15px 0px 20px;
                height: 100%;
                h3{
                    margin-top: 15px;
                    font-size: 22px;
                    color: #00659f;
                    font-weight: 700;
                    margin-bottom: 35px;
                }
                ul{
                    padding: 0;
                    li{
                        position: relative;
                        padding-left: 35px;
                        display: block;
                        margin-bottom: 20px;
                        p{
                            min-height: 25px;
                        }
                        &::before{
                            content: '';
                            width: 22px;
                            height: 22px;
                            display: block;
                            background: #E3F0F8;
                            position: absolute;
                            border-radius: 100%;
                            box-shadow: 4px 4px 12px #16506A2B;
                            left: 0px;
                            top: 5px;
                        }
                        &::after{
                            content: '';
                            display: inline-block;
                            transform: rotate(45deg);
                            height: 12px;
                            width: 6px;
                            border-bottom: 2px solid #2196F3;
                            border-right: 2px solid #2196F3;
                            position: absolute;
                            left: 10px;
                            top: 8px;
                        }
                    }
                }
            }
        }
    }
    .marketing{
        margin-top: 75px;
        margin-bottom: 60px;
        .title{
            h2{
                text-align: center;
                color: #00659F;
                font-size: 40px;
            }
            p{
                background: #E3F0F8;
                text-align: center;
                padding: 35px 160px;
                width: 80%;
                position: relative;
                left: 50%;
                font-size: 24px;
                transform: translateX(-50%);
                margin-top: 20px;
            }
        }
        .image_display{
            h3{
                font-size: 30px;
                margin-bottom: 35px;
            }
            p{
                font-size: 15px;
            }
            img{
                position: absolute;
                right: 0px;
                max-width: 710px;
                width: 55vw;
                transform: translateY(-100%);
            }
        }
        p{
            text-align: justify;
        }
    }
    &.faixa{
        padding: 110px 0;
        background-image: url('https://www.probel.com.br/assets/image/lojista/bg_seja.png');
        background-position: left top;
        background-size: cover;
        h3, p{
            color: #fff;
        }
        h3{
            font-size: 37px;
        }
        h3 + p{
            font-size: 21px;
        }
        p{
            font-size: 16px;
        }
    }
    &.last{
        margin-top: 60px;
        margin-bottom: 100px;
        h2, p , span{
            display: block;
            text-align: center;
        }
        h2{
            color: #00659f;
            font-size: 37px;
        }
        h2 + p{
            font-size: 24px;
        }
        p + p{
            width: 500px;
        }
        p{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 35px;
        }
        .itens{
            padding: 0;
            display: flex;
            img{
                max-width: 100%;
            }
            .item{
                margin: 0 7px;
                list-style: none;
                p{
                    text-align: left;
                    margin-top: 10px;
                    color: #00659f;
                    font-size: 19px;
                    font-weight: bold;
                }
            }
        }
    }
    p{}
    .row {
        display: flex;
    }
    .col-xs-12, .col-md-6, .col-md-4, .col-md-5{
        width: 100%;
    }
    .col-md-pull-7{
        margin: 0 !important;
    }
    @media (min-width: 991px) {
        .col-xs-12{
            width: 100%;
        }
        .col-md-6 {
            width: 50%;
        }
        .col-md-4 {
            width: 33.33%;
        }
        .col-md-5{
            width: 40%;
        }
        .col-md-pull-7{
            margin-left: 60%;
        }
    }
    @media (max-width: 1120px) {
        .marketing{
            .col-md-5{
                width: 100%;
                margin-bottom: 45px;
            }
            .image_display{
                img{
                    position: relative;
                    right: none;
                    max-width: 100%;
                    width: auto;
                    transform: translateY(0%);
                }
            }
            .title p{
                padding: 35px;
            }
        }
        .first {
            .vantagens{
                flex-wrap: wrap;
                .col-md-4{
                    width: 100%;
                }
            }
            .row:nth-child(3) {
                flex-wrap: wrap;
                ul{
                    padding: 0;
                    li{
                        min-height: 65px;
                    }
                }
                div:nth-child(1) {
                    width: 100%;
                }
                div:nth-child(2) {
                    width: 100%;
                }
            }
        }

    }
    @media (max-width: 768px) {
        .first{
            .row:nth-child(2) {
                h2 {
                     font-size: 32px;
                }
            }
            .row:nth-child(3) {
                h3{
                    font-size: 26px;
                    padding: 0;
                }
                ul{
                    li{
                        &.w-50{
                            width: calc(100%);
                        }
                    }
                }
            }
            .row:nth-child(4) {
                h2{
                    font-size: 20px;
                    strong{
                        display: block;
                        font-size: 27px;
                    }
                }
            }
        }
        .marketing{
            .title{
                h2{
                    font-size: 26px;
                }
                p{
                    width: 100%;
                    font-size: 16px;
                }
            }
        }
        &.last{
            margin-bottom: 45px;
            h2{
                font-size: 25px;
            }
            h2 + p{
                font-size: 17px;
            }
            h2, p{
                width: calc(100% - 30px) !important;
                margin-left: 15px;
                margin-right: 15px;
            }
            p{
                left: 0;
                transform: translateX(0);
            }
            .itens{
                flex-wrap: wrap;
                .item{
                    width: calc(50% - 14px)
                }
            }
        }
    }

}

body[class*="page-12119"], 
body[class*="page-3107"]{
    background: #fff !important;
    .modal_button{
        background: #fb8a47;
        color: #fff;
        font-weight: 600;
        display: inline-block;
        padding: 15px 25px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        font-size: 20px;
    }
    .overlay{
        &.actived{
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.45);
            position: fixed;
            top: 0;
            z-index: 1000;
            left: 0;
            right: 0;
        }
    }
    .popup{
        background: #fff;
        padding: 10px 20px;
        display: none;
        position: fixed;
        top: 55px;
        left: 50%;
        z-index:    1001;
        max-width: 400px;
        width: 100%;
        padding-top: 20px;
        transform: translateX(-50%);
        &.actived{
            display: block;
        }
        .close{
            font-weight: bold;
            position: absolute;
            right: 20px;
            top: 10px;
            color: #fb8a47;
            cursor: pointer;
        }
    }
    @media (max-width: 450px) {
        .popup{
            width: calc(100% - 30px);
            top: 30px;
            transform: translateX(-50%);
        }
    }
    .back_to_home{
        display: none;
    }
    .mauticform-post-success{
        .mauticform-innerform{
            display: none;
        }
        .mauticform-message {
            font-size: 20px;
            color: #00659f;
            text-align: center;
            margin: 20px;
        }
        & + .back_to_home{
            background: #fb8a47;
            color: #ffffff;
            font-weight: bold;
            position: relative;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 20px;
            padding: 10px 20px;
            font-size: 16px;
        }
    }
    #mauticform_sejaumlojistaprobel_cidade {
        width: 50%;
    }
    .mauticform-page-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    #mauticform_sejaumlojistaprobel_texto {
        width: 100%;
    }
    #mauticform_sejaumlojistaprobel_telefone1 {
        width: 100%;
    }
    #mauticform_sejaumlojistaprobel_email {
        width: 100%;
    }
    #mauticform_sejaumlojistaprobel_fale_sobre_sua_experienci {
        width: 100%;
    }
    #mauticform_sejaumlojistaprobel_submit {
        width: 100%;
    }
    #mauticform_sejaumlojistaprobel_estado {
        width: calc( 50% - 20px);
        margin-right: 20px;
    }
    .mauticform-label{
        font-weight: 500;
    }
    #mauticform_input_sejaumlojistaprobel_fale_sobre_sua_experienci,
    .mauticform-input{
        background: #F5F5F5;
        border: none;
        box-shadow: none;
    }
    .mauticform-button-wrapper .mauticform-button.btn-default{
        background: #fb8a47;
        color: #ffffff;
        font-weight: bold;
        position: relative;
        left: 100%;
        transform: translateX(-100%);
        padding: 10px 20px;
        font-size: 16px;
    }
    
}

.perguntas-frequentes.container.institucional{
    position: relative;
    &:before{
        content: '';
        height: 366px;
        width: 100%;
        background-image: url('https://www.probel.com.br/assets/image/banners/perguntas_frequentes.png');
        background-position: center center;
        background-size: cover;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 95px;
        @media (max-width: 768px) {
            background-image: url('https://www.probel.com.br/assets/image/banners/perguntas_frequentes_mob.png');
            height: 230px;
            top: 105px;

        }
    }
    h1{
        color: #00659F;
        font-size: 40px;   
        @media (max-width: 768px) {
            font-size: 25px;  
            width: 280px;
            text-align: center;
            margin: 0 auto 20px auto;
        }
    }
    .content-institucional{
        margin-top: 395px;
        @media (max-width: 768px) {
            margin-top: 245px;
        }
    }
    .item{
        list-style: none;
        margin-bottom: 4px;
        .header{
            cursor: pointer;
            background: #E3F0F8 !important;
            color: #00659F !important;
            font-weight: normal;
            padding: 31px 80px;
            font-size: 20px;
            border-radius: 6px;
            position: relative;
            &::before{
                content: '+';
                color: #00659F !important;
                font-weight: normal;
                padding: 31px 45px;
                font-size: 30px;
                position: absolute;
                display: block;
                top: 0px;
                right: 0;
            }
        }
        .description{
            display: none;
            margin-top: 3px;
            color: #171717;
            background: #F0F0F0;
            font-size: 15px;
            padding: 38px 80px;
            border-radius: 6px;
            margin-bottom: 34px;
        }
        &.actived{
            .header{
                margin-bottom: 5px;
                &::before{
                    content: '-';
                }
            }
            .description{
                display: block !important;
            }
        }
    }
    @media (max-width: 768px) {
        li{
            h2{
                padding: 20px 35px 20px 20px;
                font-size: 16px;
                &::before{
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 20px 15px;
                    font-size: 20px;
                }
            }
            p{
                padding: 20px 35px 20px 20px;
                font-size: 14px;
            }
        }
    }
}

body[class*="page-8304"],
body[class*="page-1521"]{
    
    background: #fff !important;
    h1{
        font-size: 45px;
        margin-top: 25px;
    }
    p{
        font-size: 16px;
        text-align: justify;
    }
    .quem_somos{
        display: block !important;
    }
    .mobile{
        display: none;
    }
    img{
        max-width: 100%;
    }
    .content-institucional ul {
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            background: #e3f0f8;
            color: #00659f;
            padding: 10px 23px;
            margin: 5px;
            font-weight: 600;
            font-size: 16px;
        }
    }

    .row_0{
        margin-bottom: -5px;
    }

    .row_1{
        background: #E3F0F8;     
        display: flex;   
        padding: 35px 0;
        position: relative;
        .col_1{
            margin-right: 45px;
            h2{
                color: #00659F;
                font-size: 33px;
            }
        }
        iframe{
            margin-bottom: -150px !important;  
            @media (max-width: 768px) {
                max-width: 100%;
                height: auto;
            }
        }
        &::before{
            content: '';
            width: 200vw;
            height: 100%;
            left: -50vw;
            top: 0;
            display: block;
            position: absolute;
            z-index: -1;
            background: #e3f0f8;
        }
    }

    .row_2{
        display: flex;
        margin-top: 140px;
        margin-bottom: 30px;
        .col_1{
            width:  45%;
            @media (min-width: 1080px) {
                img{
                    width: 42%;
                    position: absolute;
                    left: 0;
                }   
            }
        }
        .col_2{
            width: 55%;
            margin-left: 7%;
            margin-right: 10%;
            margin-top: 120px;
            margin-bottom: 35px;
            h2{
                color: #00659F;
                font-size: 32px;
                margin-bottom: 25px;
            }
        }
    }

    .row_3{
        img{
            margin-top: 35px;
            max-width: 100vw;
            width: 100vw;
        }
    }

    .row_4{
        display: flex;
        align-items: center;
        .col_1, .col_2{
            margin-top: 35px;
            width: 50%;
        }
        .col_2{
            display: flex;
            justify-content: center;
            img{
                max-width: 270px;
                height: auto;
            }
        }
    }


    .row_5{
        background-image: url('https://probel.com.br/assets/image/quem_somos/bg_fabricas.png');
        float: left;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        .col_0{
            display: none;
        }
        .content-institucional{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h2{
            color: #fff;
            width: 383px;
            font-size: 34px;
            margin-top: 125px;
        }
        img{
            width: 633px;
        }
        @media (max-width: 768px) {
            .col_0{
                display: block;
            }   
        }
    }

    .row_5 + .content-institucional{
        padding: 75px 0px 125px 0px;
        position: relative;
        .col_1{
            width: 50%;
            h2{
                color: #00659F;
                font-size: 33px;
                margin-bottom: 20px;
            }
        }
        .col_2{
            position: absolute;
            top: 50px;
            right: -20%;
        }
        @media (max-width: 1360px) {
            .col_2{
                img{
                    right: -20%;
                }
            }
        }
        @media (max-width: 1200px) {
            padding: 55px 0px 55px 0px;
            .col_1{
                width: 100%;
            }
            .col_2{
                margin-top: 30px;
                position: relative;
                top: 0;
                right: 0%;
                img{
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .row_2{
            display: block;

            .col_1, .col_2{
                width: 100%;
                margin: 0;
            }
            .col_1{
                img{
                    margin: 0 auto;
                    position: relative;
                    left: 50%;
                    transform: translatex(-50%);
                    margin-bottom: 30px;

                }
            }
        }
    }
    @media (max-width: 768px) {
        .desktop{
            display: none;
        } 
        .mobile{
            display: block;
        }      
        .row_0{
            img{
                width: 100%;
            }
        }
        .row_1{
            display: block;
            .col_1{
                margin-right: 0;
            }
            h2{
                text-align: center;
                margin-bottom: 25px;
            }
        }
        .row_4{
            display: block;
            .col_1, .col_2{
                width: 100%;
            }
        }
        .row_5{
            width: 100vw;
            background: none;
            .content-institucional{
                flex-wrap: wrap;
                margin: 0 !important;
                width: 100%;
            }
            .col_1 {
                order: 1;
                text-align: center;
                h2{
                    margin-top: 30px;
                    color: #00659F;
                    font-size: 28px;
                    width: 270;
                }
            }
            .col_0 {
                order: 2;
                img{
                    width: 100vw;
                    max-width: 100vw;
                }
            }
            .col_2 img{
                display: none;
            }
        }
    }
    @media (max-width: 550px) {
        .row_2{
            .col_1{
                img{
                    width: 100vw;
                    max-width: 100vw;
                }
            }
        }
        .row_5 + .content-institucional{
            .col_2{
                top: 25px;
                margin: 0 -25px;
            }
        }
    }

}

body[class*="page-3109"]{
    .titulo{
        margin-top: 35px;
    }
    h1{
        font-size: 48px !important;
    }
    .row_0{
        p{
            font-size: 28px !important;  
            text-align: center;
        }
    }
    .row_1{
        display: flex;
        margin-top: 55px;
        .col_1, .col_2{
            display: block;
            width: 44%;
        }
        .col_1{
            img{
                display: none;
            }
            > p{
                font-size: 17px
            }
            input, textarea{
                background: #F5F5F5;
                border-radius: 0px !important;
            }
            label{
                font-family: "barlow";
                margin-bottom: 5px !important;
                font-weight: 600 !important;
                color: #666 !important;
                margin-top: 10px;
            }
            button.enviar, .mauticform-button{
                background: #FB8A47 !important;
                color: #fff;
                font-weight: bold;
                width: 180px; 
                float: right;
                padding: 15px;
                font-size: 16px;
                text-align: center;
                cursor: pointer;

            }
            .forulario-contato{
                h3{
                    font-size: 20px;
                }
            }
        }
        .col_2{
            margin-left: 12%;
        }
    }
    .row_2{
        margin-top: 105px;
        h2{
            color: #00659f;
            font-size: 28px;
            text-align: center;
        }
        p{
            text-align: center;
            font-size: 17px;
            margin: 20px 0px 35px 0px;
        }
        .logos{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            div{
                margin: 15px 15px;
                max-height: 75px;
                img{
                    max-width: 100%;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .row_1{
            .col_1, .col_2{
                width: 100%;
            }
            .col_1{
                img{
                    display: block;
                    position: relative;
                    width: calc(100% + 90px);
                    height: auto;
                    left: -45px;
                    margin-bottom: 35px;
                    margin-top: 35px;
                }
            }
            .col_2{
                display: none;
                img{
                    display: none;
                }
            }
        }
    }
    @media (max-width: 500px) {
        button.enviar{
            width: 100% !important;
        }
        .row_0{
            p{
                font-size: 20px !important;
                font-weight: 600;
            }
        }
        .row_1{
            p span{
                font-weight: 600;
            }
        }
        .logos{
            div{
                text-align: center;
                margin: 15px 10px !important;
                width:  calc(50% - 20px) !important;
            }
            img{
                
            }
        }
    }
}

body[class*="page-3110"]{
    .titulo{
        margin-top: 35px;
        h1{
            font-size: 48px !important;
        }
    }
    .row_0{
        ul {
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
                background: #e3f0f8;
                color: #00659f;
                padding: 10px 23px;
                margin: 5px;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
    .row_1{
        img{
            position: relative;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .row_2{
        display: flex;
        margin-top: 60px;
        p{
            text-align: justify !important;
        }
        .col_1, .col_2{
            width: 44% !important;
            height: 400px;
        }
        .col_1{
            position: relative;
            img{
                position: absolute;
                right: 0;
                max-width: 45vw;
            }
        }
        .col_2{
            margin-left: 6%;
            h2{
                margin-top: 20px;
                color: #00659F;
                font-size: 25px;
                margin-bottom: 20px;
            }
            p{
                font-size: 15px;
                line-height: 22px;
            }
        }
        .col_3{
            display: none !important;
        }
    }
    .row_3{
        background-color: #E3F0F8;
        margin-top: 60px;
        padding: 55px 0px 75px 0px;
        text-align: center;
        position: relative;
        &::before{
            content: '';
            width: 200vw;
            height: 100%;
            left: -50vw;
            top: 0;
            display: block;
            position: absolute;
            z-index: -1;
            background: #e3f0f8;
        }
        h2{
            margin-top: 20px;
            color: #00659F;
            font-size: 30px;
            margin-bottom: 20px;
        }
        h3{
            font-size: 18px;
            color: #2A4B60;
            font-weight: 400;
        }
        a{
            color: #fff;
            font-weight: bold;
            background: #fb8a47;
            margin-top: 10px;
            padding: 15px 33px;
            font-size: 18px;
            display: inline-block;
        }
    }

    @media (max-width:1100px) {
        .row_2{
            flex-wrap: wrap;
            .col_1{
                display: none;
            }
            .col_2{
                height: auto !important;
                width: 100% !important;
                margin: 0 !important;
                margin-bottom: 80px !important;
            }
            .col_3{
                display: block !important;
                width: 100%;
                img{
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 100%;
                }
            }
        }
    }
    
    @media (max-width:500px) {
        .titulo{
            margin-top: 35px;
            h1{
                font-size: 37px !important;
            }
        }
        .row_1{
            img{
                display: none;
            }
            img.mobile-img{
                display: block !important;
            }
        }
        .row_2{
            .col_2{
                h2{
                    font-size: 29px;
                    text-align: center;
                    margin-top: 0 !important;
                }
            }
            .col_3{
                img{
                    max-width: 100vw !important;
                    width: 100vw;
                }
            }
        }
    }
}

.title_fale-conosco {
    h1{
        color: #00659F;
        font-size: 38px;
        text-align: center;
        margin-top: 30px;
        text-transform: capitalize !important;
    }
    & + .container{
        > .divider{
            display: none;
        }
        .ui[class*="middle aligned"].grid > .row > .column{
            align-self: flex-start !important;
            text-align: left;
            h2{
                color: #00659F;
                margin-top: 45px;
                font-size: 28px;
            }
            p span{
                font-weight: 500;
            }
        }
        .container-center > .grid{
            .header-image{
                width: 100%;
            }
            @media (max-width: 620px) {
                .header-image{
                    display: none !important;
                }
                .header-image-mob{
                    display: block !important;
                    width: 100vw;
                    position: relative;
                    max-width: 100vw !important;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            #formContact{
                .ui.segment{
                    box-shadow: none !important;
                    border: none !important;
                }
                label{
                    font-weight: 500 !important;
                }
                .input input, .search input, textarea, .selection{
                    background: #f5f5f5 !important;
                }
                .icon > input{
                    padding-left: 15px !important;
                }
                i.icon{
                    display: none;
                }
                .form_refresh{
                    display: none;
                }
                #submitContact{
                    background-color: #fb8a47 !important;
                    box-shadow: none !important;
                    .icon{
                        display: inline-block !important;
                    }
                }
            }
        }
    }
}