﻿@model List<DomainCheckout.Entities.PaymentBrand>

@foreach (var item in Model)
{
    <div class="title text big color black">
        <i class="barcode icon"></i>
        Transferência Bancária
        <i class="ui icon dropdown floated right"></i>
    </div>
    <div class="content">
        <p class="transition hidden"></p>
        
        <!--<p>@item.NamePayment</p>-->
        <p>O prazo para depósito ou transferência bancária é de 01 (um) dia útil após a realização da compra. Confira abaixo dos dados para pagamento, temos conta no Banco do Brasil e no Bradesco.</p>

        <p>
            Banco do Brasil (código do Banco 001)<br/>
            Agência: 706-4<br/>
            Conta Corrente: 23000-6<br/>
            CNPJ: 004.419.279/0001-01<br/>
            Beneficiário: Indústria de Colchões Sul Matogrossense Ltda
        </p>

        <p>
            Banco Bradesco (código do Banco 237)<br/>
            Agência: 2647<br/>
            Conta Corrente: 0628677-1<br/>
            CNPJ: 004.419.279/0001-01<br/>
            Beneficiário: Indústria de Colchões Sul Matogrossense Ltda
        </p>

        <p>Após a finalização da transferência, será necessário o envio de um e-mail para <a href="mailto:assistentedecompras@probel.com.br" class="text bold">assistentedecompras@probel.com.br</a> com o comprovante anexo.</p>
        
        <p>Em caso de dúvidas entre em contato pelo telefone:<br/><a href="tel:62982060431">(62) 98206-0431</a></p>

        <div class="field">
            <button class="ui labeled icon action large fluid button GerarPedido" data-idBrand="@item.IdPaymentBrand" data-externalcode="@item.ExternalCode" data-Card="N">
                <i class="barcode icon"></i>
                Transferência Bancária
                <input type="hidden" name="parcelamento" class="idInstallment" value="0" />
            </button>
        </div>
    </div>
}