@import "variables/all";
@import "header/all";
@import "category/all";
@import "checkout/all";
@import "client_area/all";
@import "footer/all";
@import "header/all";
@import "helpers/all";
@import "home/all";
@import "image/all";
@import "menu/all";
@import "modification/all";
@import "plugins/all";
@import "product/all";
@import "eventlist/all";
@import "table/all";
@import "order/all";
@import "institucionais/all";

@media (max-width: 560px){
    html{
        width: 100vw;
        overflow-x: hidden;
    }
}