﻿@model IList<DomainProduct.Filter.FilterBrand>

@if (Model != null)
{
    <!--<div class="active title">Marcas<span class="plus-icon"></span></div>
    <div class="active content">
        <div class="ui form">
            <div class="grouped fields">
                @foreach (var brand in Model)
                {
                    <div class="field">
                        <div class="ui checkbox checkBrand" data-type="brand" id="@brand.IdBrand" data-name="@brand.Name" data-reference="Marcas">
                            <input type="checkbox" name="@brand.Name" id="checkBrand_@brand.IdBrand" tabindex="0" value="@brand.IdBrand">
                            <label>@brand.Name (@brand.QuantityOfProduct)</label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>-->
}