﻿@model DomainCompany.Entities.CustomPageContent
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.TitlePage) ? Model.Name : Model.TitlePage;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.Metatag))
        {
            <meta name="Description" content="@Model.Metatag">
        }
    }
}

<div class="container institucional">
    <div class="container-center">
        <div class="titulo">
            <h1>@(Model != null ? Model.Name : "")</h1>
        </div>

        <div class="content-institucional">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>