﻿@model DomainCompany.Entities.CustomPageContent
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.TitlePage) ? Model.Name : Model.TitlePage;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.Metatag))
        {
            <meta name="Description" content="@Model.Metatag">
        }
    }
}

<div class="container institucional">
    <div class="container-center">
        <div class="titulo">
            <h1>@(Model != null ? Model.Name : "")</h1>
        </div>

        <div class="content-institucional">
            @Html.Raw(Model.Content)
        </div>
    </div>
    <div class="quem_somos" style="display: none">
        <div class="row_0">
            <img src="https://probel.com.br/assets/image/quem_somos/quem_somos_header.png" alt="" class="desktop">
            <img src="https://probel.com.br/assets/image/quem_somos/quem_somos_header-mobile.png" alt="" class="mobile">
        </div>
    </div>
    <div class="quem_somos" style="display: none">     
        <div class="container-center">
            <div class="content-institucional">
                <div class="row_1">
                    <div class="col_1">
                        <h2>Nossa História</h2>
                    </div>
                    <div class="col_2">
                        <p>
                            Inovação. A Probel já nasceu com essa vocação, quando o jovem Paulo Robel decidiu fabricar molas de aço em escala industrial para a fabricação de colchões em 1940, se tornando a primeira fabricante de colchões no Brasil.
                            <br><br>
                            Com capital 100% nacional, o pequeno espaço de 75m² logo se transformou em duas unidades fabris, em Suzano e na Vila Leopoldina, São Paulo. A inovação estava apenas começando. Em 1948 a Probel iniciou a padronização de medidas dos colchões no Brasil. Depois, passou a usar o tratamento Baygard desenvolvido pela Bayer, além do tratamento de impermeabilização de líquidos e fácil limpeza nos tecidos utilizados. Introduziu os tratamentos antiácaro, antibactéria e antimofo no processo de produção de espumas e acessórios. 
                            <br><br>
                            Ao utilizar látex para o estofamento, a Probel criou a linha no turn, na qual o colchão de molejo não precisa ser virado a cada 30 dias. Também foi a primeira marca do setor a certificar todo o processo que envolve o produto, obtendo a Certificação do Sistema de Qualidade ISO 9002 para a Manufatura e Comercialização de seus produtos. Nos anos 80, tornou-se a maior marca de colchões da América Latina, e após sua expansão por todo o território nacional, a marca Probel foi adquirida pelo Grupo Pelmex, transformando o Grupo em um dos principais no segmento de colchões no país. A Probel está em franca expansão, tanto em lojas exclusivas como no varejo e em grandes magazines e agora dá um passo importante no meio digital, com seu e-commerce próprio e com presença nos principais marketplaces do mercado.
                            <br><br>
                            É uma das marcas mais desejadas pelo consumidor, sentimento transferido de geração para geração há 80 anos.
                            <br><br>
                            Colecionadora de prêmios de marca mais lembrada e de destaque no setor hoteiro, a Probel recebeu o Prêmio Época Reclame Aqui 2018, que elege por voto popular as melhores empresas para o consumidor. Um prêmio importante para uma empresa criada em 1940 com a missão de melhorar a qualidade de vida das pessoas sempre inovando.
                            <br><br>
                            História que está só no começo; afinal a inovação – quem diria? – não pode parar para descansar.
                        </p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/J2WUwfN7GWc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row_2">
                    <div class="col_1">
                        <img src="https://probel.com.br/assets/image/quem_somos/quem_somos_inovacao.png" alt="">
                    </div>
                    <div class="col_2">
                        <h2>
                            Probel: sinônimo de inovação, qualidade e comprometimento
                        </h2>
                        <p>
                            Primeira marca a fabricar colchões em escala industrial no Brasil, a Probel sempre apresentou novidades ao mercado. Entre elas, estão os sistemas exclusivos de molejo Multilastic e de espumação Uniblock. 
                            <br><br>
                            Também foi a primeira marca a usar o tratamento antiácaro, antibactéria e antimofo. A alta qualidade dos produtos aliada à excelência no atendimento acompanha a marca Probel em toda sua trajetória.
                            <br><br>
                            Inscrita na avaliação do Prêmio Reclame Aqui da revista Época em 2018 e 2019 consagrou-se campeã e vice campeã respectivamente, eleita por quem mais importa em sua trajetória, o cliente. Reconhecimento de sua qualidade e comprometimento com princípios e valores que se pautam por levar uma vida mais pró a todos os brasileios. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row_3">
                <img src="https://probel.com.br/assets/image/quem_somos/pro_desk.png" alt="" class="desktop">
                <img src="https://probel.com.br/assets/image/quem_somos/pro_mobile.png" alt="" class="mobile">
            </div>
            <div class="content-institucional">
                <div class="row_4">
                    <div class="col_1">
                        <p>
                            Levar uma vida mais pró para todo o país exige fábricas localizadas em regiões estratégicas. O coração do Brasil, foi seu ponto de partida. Hoje, a partir da mais nova licenciada na Paraíba, todo o Nordeste pode desfrutar de uma vida mais pró.
                            <br><br>
                            Com fábricas licenciadas estrategicamente posicionadas, a rede de lojas exclusivas, os clientes de multimarcas e os magazines
                            tem produtos colocados em seus pontos de vendas com melhores custos e maior rapidez.
                        </p>
                    </div>
                    <div class="col_2">
                        <img src="https://probel.com.br/assets/image/quem_somos/quem_somos_180.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row_5">
                <div class="content-institucional">
                    <div class="col_0">
                        <img src="https://probel.com.br/assets/image/quem_somos/quem_somo_mapa_mob.png" alt="">
                    </div>
                    <div class="col_1">
                        <h2>
                            Fábricas Licenciadas
                            E Mapa de Distribuição          
                        </h2>
                    </div>
                    <div class="col_2">
                        <img src="https://probel.com.br/assets/image/quem_somos/quem_somos_mapa.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content-institucional">
                <div class="col_1">
                    <h2>Sustentabilidade</h2>
                    <p>
                        Operamos seguindo rigorosos padrões de qualidade e sustentabilidade, desde o uso de matérias-primas vindas de fontes renováveis, até a destinação correta dos resíduos, incluindo tratamento e reutilização de água e separação de recicláveis.
                        <br><br>
                        Em 2019 implantou sua primeira usina solar, com 780 placas fotovoltáicas responsável pela produção de 200 kw/h e suficientes atender a demanda de energia por completo da unidade de Aparecida de Goiânia em Goiás.
                    </p>
                </div>
                <div class="col_2">
                    <img src="https://probel.com.br/assets/image/quem_somos/img_sustentablidade.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>