﻿@{
    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}


<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")

<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("SideHalfBanner", "Banner")

<div class="ui container sixten wide avisos">
    <div class="row">
        <div class="column">
            <div class="cartao aviso">
                <img src="/assets/image/credit-card.png" />
                <p>Pague até <strong>12x sem juros</strong> no cartão</p>
            </div>
        </div>
        <div class="column">
            <div class="boleto aviso">
                <img src="/assets/image/barcode.png" />
                <p><strong>5% OFF</strong> pagando à vista no boleto</p>
            </div>
        </div>
        <div class="column">
            <div class="newsletter_header aviso">
                <img src="/assets/image/email.png" />
                <a href="#newsletter">
                    <strong>Cadastre-se</strong> em nossa Newsletter →
                </a>
            </div>
        </div>
    </div>
</div>

<!-- ~/Views/Shared/Blocks/Group/_Groups.cshtml -->
@Html.Action("Group", "Group")

<!-- ~/Views/Shared/Blocks/Brand/_Brands.cshtml 
@Html.Action("Brand", "Product")-->

<!-- ~/Views/Shared/Blocks/_Tipo.cshtml -->
@Html.Partial("Blocks/_Tipo")

<!-- ~/Views/Shared/Blocks/_IntitucionalTrio.cshtml -->
@Html.Partial("Blocks/_IntitucionalTrio")
