.slick-slider .produto-prateleira{
    margin: 5px calc(50% - 145px);
    
    @media only screen and (max-width: 999px) {
        margin: 5px 0;
    }
}

.produto-prateleira{
    width: 290px;
    height: 460px;
    float: left;
    border-radius: 5px!important;
    
    @media screen and (min-width:$mobile-bp) {
        padding: 15px 15px 25px;
    }

    .image {
        width: 100%!important;
        float: left;
        overflow: hidden;

        .imagetag{
            padding: 0.75rem 10px;
        }
        
        img{
            float: left;
            
        }
        
        @media only screen and (max-width: 999px) {
            height: 150px!important;
            padding: 15px 8px;
        }
    }

    .info{
        width: 100%;
        float: left;
        position: relative;
        margin-top: 20px;
        
        @media only screen and (max-width: 999px) {
            margin-top: 0px;
        }

        .dados{
            width: 100%;
            float: left;

            h3{
                width: 100%;
                float: left;
                font-size: 17px;
                height: 66px;
                font-weight: 400;
                text-align: center;
                color: #000000;
                
                @media only screen and (max-width: 999px) {
                    font-size: 15px;
                    height: 100px;
                }
            }

            .avaliacao{
                width: 100%;
                float: left;

                .rating{
                    margin: 15px auto;
                    display: table;

                    .icon{
                        font-size: 16px;
                    }
                } 
            }

            .precoBase{
                width: 100%;
                float: left;
                margin-top: 5px;
            }

            .valorde{
                width: 100%;
                height: 20px;
                float: left;
                text-decoration: line-through; 
                text-align: center;
                color: #A0A0A0;

                i{
                    font-style: normal;
                }
            }

            .precoPor{
                font-size: 14px;
                width: 100%;
                float: left;
                text-align: center;
                margin-top: 5px;

                .valor{
                    color: #666666;
                    
                    span{
                        color: #2166C9;
                    }
                }

                .msgBoleto{
                    font-size: 14px;
                    color: #4B4B4B;
                }
                
                @media only screen and (max-width: 999px) {
                    font-size: 13px;
                    
                    .msgBoleto{
                        font-size: 13px;
                    }
                }
            }

            .parcelamento{
                width: 100%;
                float: left;
                color: #4B4B4B;
                font-size: 16px;
                margin-top: 5px;
                text-align: center;
                font-weight: 500;

                .installmentMaxValue{
                    font-weight: 600;
                    font-size: 20px;
                    color: #2166C9;
                }
                
                @media only screen and (max-width: 999px) {
                    font-size: 14px;
                    
                    .installmentMaxValue{
                        font-size: 16px;
                    }
                }
            }
        }
        
        .botoes{
            display: none;
            clear: both;
            position: absolute;
            left: 0;
            width: 100%;
            bottom: -75px;
            background: #fff;
            height: 75px;
        }
    }
}

.produto-prateleira:hover{
    box-shadow: 0 0 5px #ccc;
    -webkit-transition:	all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
    transition: all 0.5s;
    padding-bottom: 0;
    height: 530px;


    .botoes{
        opacity: 1;
        display: block;
    }

    .btnDetalhes {
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
        color: #fff !important;
        font-size: 18px !important;
        box-sizing: border-box;
        padding: 0 !important;
        z-index: 10 !important;
        width: 100%;
        height: 55px !important;
        line-height: 55px !important;
        background: #FB7D32 !important;
        box-shadow: initial !important;
        text-transform: capitalize !important;
        font-weight: 600;
        
        .icon-ver::before{
            content: '\f178';
            font-family: 'fontAwesome';
            display: inline;
        }
    }
}