 * {
    font-family: "Barlow";
}

.pt-xs-0{
    @media screen and (max-width:$mobile-bp) {
        padding-top: 0px !important;
    }
}

.pb-xs-0{
    @media screen and (max-width:$mobile-bp) {
        padding-bottom: 0px !important;
    }
}

.product.information{
    @media screen and (max-width:$mobile-bp) {
        padding-bottom: 0px !important;
    }
}

.product-grid{
    @media screen and (max-width:$mobile-bp) {
        padding-bottom: 0px !important;
    }
}

#variations-container {
    .variations {
        display: flex;
        
        .variacao {
            &.select {
                button {
                    border-color: #2166c9;
                }
            }

            button {
                transition: border 300ms;
                border: 2px solid transparent;
            }
        }
    }
}

.detalhes.produto {
    font-family: "Barlow" !important;

    .car-gallery {
        width: 100%;
        max-width: 745px;
        margin-top: 30px;
        display: block;
        float: left;

        .slick-arrow{
            display:none !important;
        }
    }

    #exibePartial {
        width: 60%;
        float: left;

        img {
            border-radius: 10px;
        }
        
        .produto.easyzoom{
            height: 350px;
            
            @media screen and (max-width:$mobile-bp) {
                height: 170px;
            }
            
            .toggleZoom{
                display: none;
            }
        }
    }
    
    .change{
        position: relative;
        display: flex;
        
        a{
            position: absolute;
            bottom: 140px;
            
            &.back{
                left: -50px;
            }
            
            &.next{
                right: -50px;
            }
            
            @media screen and (max-width:$mobile-bp) {
                bottom: 94px;
                
                &.back{
                    left: -15px !important;
                }
                
                &.next{
                    right: -15px !important;
                }
            }
            
        }
    }

    .infoProduto {
        width: 40%;
        float: left;
        padding-left: 50px;

        h1.nomeProduto {
            font-family: "Barlow" !important;
            font-size: 30px;
            color: #000;
            font-weight: normal;
            
            @media screen and (max-width:$mobile-bp) {
                font-size: 20px;
            }
        }

        .marcaProduto {
            display: none;
        }

        .stackable {
            .codProd {
                width: 50%;
                float: left;

                span,
                h6 {
                    float: left;
                    font-size: 12px;
                    color: #848484;
                }

                h6 {
                    margin: 0 0 0 5px;
                    font-weight: 400;
                }
            }

            .skuProd {
                width: 50%;
                float: left;

                span,
                h6 {
                    float: left;
                }

                h6 {
                    margin: 0 0 0 5px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #2166C9;
                }
            }

            .numeroInmetro {
                width: 100%;
                float: left;
                margin-top: 10px;

                span,
                h6 {
                    float: left;
                }

                h6 {
                    margin: 0 0 0 5px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #2166C9;
                }
            }

            .avaliacoes {

                .rating {
                    float: left;

                    .icon {
                        font-size: 18px;
                    }

                    span {
                        float: left;
                    }


                }
            }
        }

        .blocoInfo {
            
            .blocoQtd {
                margin-top: 15px;
                
                @media only screen and (max-width: 500px) {
                    margin-top: 0px;
                    padding: 14px 0 !important;
                }
                
                button {
                    padding: 6px!important;
                    font-weight: 400 !important;
                    
                    &:last-child {
                        border-radius: 0 2px 2px 0 !important;
                    }
                }
            }

            .blocoValores {
                
                .ui.attached.segment {
                    border: none;
                    padding-top: 0;

                    @media screen and (max-width:$mobile-bp) {
                        padding:0;
                    }
                }

                .column.blocoPreco {
                    @media only screen and (max-width: 500px) {
                        padding: 0 0 14px!important;
                    }
                    
                    #variacao-preco {
                        .precoAntigo #preco-antigo, #preco-antigo {
                            width: 100%;
                            float: left;
                            color: #999;
                            text-align: left;
                            text-decoration: line-through;
                        }

                        .preco {
                            width: 100%;
                            float: left;
                            color: #2166C9;
                            font-size: 14px;
                            font-weight: 400;
                            text-align: left;
                            margin: 10px 0;

                            span {
                                color: #666666;
                            }
                        }

                        .infoPreco {
                            margin-top: 10px;
                            width: 100%;
                            float: left;
                            text-align: left;
                            font-size: 17px;
                            color: #666666;

                            // #description {}
                        }

                        #max-value {
                            color: #2166C9;
                            font-size: 28px;
                            font-weight: 600;
                        }
                    }
                }

                .btnComprar {
                    width: 100% !important;
                    float: left;
                    
                    @media only screen and (max-width: 500px) {
                        padding: 14px 0 !important;
                    }

                    .btn-comprar {
                        width: 100%;
                        float: left;
                        font-size: 28px;
                        position: relative;
                        text-transform: capitalize;
                        background-color: #FB7D32 !important;
                        -webkit-box-shadow: 0px 6px 8px rgba(251, 125, 50, 0.33) !important;
                        box-shadow: 0px 6px 8px rgba(251, 125, 50, 0.33) !important;
                        padding: 15px;
                        margin: 20px 0;
                        border: none !important;
                        border-radius: 4px;
                    }

                    .compraSegura {
                        width: 100%;
                        float: left;
                        font-size: 12px;
                        font-weight: 600;
                        text-align: center;
                        text-transform: uppercase;
                        justify-content: center;
                        display: flex;
                        color: #999;

                        &:before{
                            content: '';
                            width: 15px;
                            height: 19px;
                            background-image: url('/assets/image/lock_segura.png');
                            background-repeat: no-repeat;
                            background-size: auto;
                            margin-right: 7px;
                        }
                    }
                    
                    &.activeBottom{
                        top: 89vh;
                        z-index: 10;
                        position: fixed;
                         
                        @media only screen and (max-width: 500px) {
                            padding: 0 !important;
                        }
                        
                        .btn-comprar {
                            display: flex;
                            margin: 0;
                            border-radius: 0;
                            padding: 15px;
                        }
                        
                        .btnComprarInfo{
                            font-weight: normal;
                            display: block;
                            font-size: 11px;
                            text-transform: none;
                            float: left;
                            width: 50%;
                            text-align: left;
                            
                            #preco_fixo{
                                text-transform: none;
                                span{
                                    display: none;
                                }
                            }
                            
                            p:first-child{
                                margin-bottom: 2px;
                            }
                        }
                        
                        .content{
                            float: right;
                            width: 50%;
                            text-align: right;

                            @media only screen and (max-width: 500px) {
                                width: auto;
                            }
                        }
                        
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 3000px;
                            height: 100%;
                            background: #FB7D32;
                            background-size: auto;
                            margin-left: -168px;
                            z-index: -1;
                        }
                    }
                }
            }

        }
    }

}

.detalhes-prod {
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 40px;
    margin-top: 50px;
    background-color: #F7F7F7;
    position: relative;
    
    > h4{
        color: #2266C9;
        font-size: 18px;
    }
    
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10000px;
        height: 100%;
        background: #F7F7F7;
        margin-left: -5000px;
        z-index: -1;
    }

    #descricao {
        font-size: 16px;
        width: 60%;
        float: left;
        color: #000;

        h2 {
            font-size: 19px;
            text-transform: uppercase;
        }

        p {
            font-size: 17px;
            margin-top: 10px;
        }

        .video {
            display: none;

        }

    }

    #detalhes {
        width: calc(40% - 50px);
        float: left;
        margin-left: 50px;
        padding: 20px;
        color: #000;
        border-radius: 15px;
        
        @media screen and (max-width:$mobile-bp) {
            width: 100%;
            margin-left: 0px;
            padding: 0px;
        }

        ul {
            list-style-type: none;

            li {
                margin-top: 10px;

                h2 {
                    font-size: 18px;
                    text-transform: uppercase;
                }

                p {
                    font-size: 14px;
                    margin-top: 10px;
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

}

.video-prod {
    width: 100%;
    float: left;
    margin-top: 50px;

    h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #999;

        span {
            float: right;
        }
    }

    .video {
        width: 100%;
        float: left;

        iframe {
            width: 100%;
            height: 500px;
            margin-top: 20px;
        }
    }
}

#buy-together {
    width: 100%;
    float: left;
    margin-top: 50px;

    .titulo {
        width: 100%;
        float: left;
        border-bottom: 2px dotted #ccc;
        padding-bottom: 5px;
        padding-left: 5px;
        margin-bottom: 20px;
        position: relative;

        h2 {
            font-size: 34px;
            text-transform: uppercase;
            color: #2166C9;
        }
    }

    .ui.grid {
        float: left;
        margin-top: 50px;

        .product-grid {
            width: 290px;
            margin-right: 150px;
            position: relative;


            &::after {
                content: '+';
                font-size: 36px;
                font-weight: 600;
                color: #000;
                position: absolute;
                right: -75px;
                top: 50%;

            }

            img {
                width: 100%;
                height: auto;
                float: left;
            }

            .header {
                width: 100%;
                height: 60px;
                float: left;
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                color: #2166C9;
                margin-top: 20px;
            }

            .meta {
                h4.margin.top.small {
                    width: 100%;
                    float: left;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    color: #2166C9;
                    margin-top: 20px !important;
                }
            }
        }

        .item.buy-together {
            width: 290px;
            margin-right: 150px;
            position: relative;
            float: left;

            .ui.small.image {
                width: 100%;

                img {
                    width: 100%;
                    max-width: auto;
                }
            }

            &::after {
                content: '=';
                font-size: 36px;
                font-weight: 600;
                color: #000;
                position: absolute;
                right: -75px;
                top: 50%;
            }

            .content {
                .header {
                    width: 100%;
                    height: 60px;
                    float: left;
                    font-weight: 400;
                    font-size: 16px;
                    text-align: center;
                    color: #2166C9;
                    margin-top: 20px;
                }

                h4.margin.top.small {
                    width: 100%;
                    float: left;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    color: #2166C9;
                    margin-top: 20px !important;
                }
            }

            .extra {
                display: none;
            }
        }

        >.compre.junto {
            padding-top: 90px;

            table {
                thead {
                    tr {
                        th {
                            font-size: 16px;
                            text-transform: uppercase;
                            color: #999;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            text-align: center !important;
                            padding: 5px 0;
                            color: #999;

                            &.preco-total {
                                width: 100%;
                                font-size: 28px;
                                text-align: center !important;
                                color: #2166C9;
                                margin: 15px 0;
                                float: left;
                            }

                        }
                    }
                }
            }

            #btn_comprejunto {
                width: 100%;
                font-size: 28px;
                text-align: center;
                background-color: #2166C9 !important;
                float: left;
                padding: 15px 0;
                border-radius: 80px;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }

            .compraSegura {
                width: 100%;
                float: left;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
                color: #999;
                margin-top: 15px;

                .icon::before {
                    width: 25px;
                    height: 25px;
                    content: '\f023';
                    display: inline-block;
                    font-family: 'fontAwesome';
                    text-align: center;
                    font-weight: 100;
                    color: #fff;
                    background: #999;
                    border-radius: 50%;
                    padding-top: 4px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.relacionados {
    width: 100%;
    float: left;
    margin-top: 80px;

    .titulo {
        width: 100%;
        float: left;
        border-bottom: 2px dotted #ccc;
        padding-bottom: 5px;
        padding-left: 5px;
        margin-bottom: 20px;
        position: relative;

        h2 {
            font-size: 34px;
            text-transform: uppercase;
            color: #2166C9;
        }
    }

    .car-relacionados {
        width: 1225px;
        float: left;
        margin-top: 40px;

        .slick-arrow {
            display: none !important;
        }

        .slick-dots {
            bottom: -50px;

            li {
                width: 30px;
                height: 3px;
                background: #999;
                margin-top: 2px;

                button::before {
                    display: none !important;
                }
            }

            .slick-active {
                width: 70px;
                height: 5px;
                background: #2166C9;
            }

        }
    }
}

.produto.flutuante {
    display: none;
}

@media only screen and (max-width: 1250px) {

    .detalhes.produto {

        .car-gallery {
            width: 100%;
            max-width: 635px;
            display: block;
            float: left;
        }
    }

    .video-prod {
        h2 {
            font-size: 20px;
        }
    }

    #buy-together {
        .ui.grid {
            .product-grid {
                width: 255px;
                margin-right: 60px;

                &::after {
                    right: -35px;
                }
            }

            .item.buy-together {
                width: 255px;
                margin-right: 70px;

                &::after {
                    right: -30px;
                }
            }

            .meta {
                span {
                    display: none;
                }
            }
        }
    }

    .relacionados .car-relacionados {
        width: 999px;
    }


}

@media only screen and (max-width: 999px) {
    .detalhes.produto {

        #exibePartial,
        .infoProduto {
            width: 100%;
            padding-left:0;
        }
    }

    .detalhes.produto {

        .car-gallery {
            width: 100%;
            max-width: 500px;
            display: block;
            float: left;
            margin: 0 calc(50% - 250px);
            margin-top: 30px;
        }
    }

    .video-prod {
        h2 {
            width: 100%;
            text-align: center;
            font-size: 18px;

            span {
                float: none;
                margin: 20px auto 0;
                display: table;
            }
        }
    }

    #buy-together {
        .ui.grid {
            .product-grid {
                width: 70%;
                margin: 0 15%;

                &::after {
                    width: 100%;
                    margin: 20px 0 40px;
                    text-align: center;
                    position: static;
                    float: left;
                }
            }

            .item.buy-together {
                width: 70%;
                margin: 0 15%;

                &::after {
                    width: 100%;
                    margin: 20px 0;
                    text-align: center;
                    position: static;
                    float: left;
                }
            }

            >.compre.junto {
                width: 100%;
                padding: 20px;

                table {
                    width: 100%;
                }
            }
        }
    }


    .relacionados .car-relacionados {
        width: 100%;
        display: grid;
    }

}

@media only screen and (max-width: 500px) {
    .detalhes.produto {

        .car-gallery {
            width: 100%;
            max-width: 320px;
            display: block;
            float: left;
            margin: 0 calc(50% - 160px)
        }

        .infoProduto {
            margin-top: 20px;
        }
    }
    
    .detalhes-prod{

        padding: 20px 15px;
        
        >h4{
            font-size: 16px;
        }
        
        #descricao {
            width: 100%;

            p{
                font-size: 14px;
            }
        }
    }
}