.slide-principal {
	display: block;
		
	.slick-track{
		@media only screen and (max-width: 999px) {
			height: 200px;
		}
		@media screen and (min-width: 380px) and (max-width: 430px) {
			height: 300px;
		}
	}	

	.slick-arrow{
		display: none!important;
	}

	.slick-dots{

		li{
			width: 45px;
			height: 5px;
			background: #fff;
			border: 0.5px solid #4e4e4e;
			margin-top: 2px;

			@media only screen and (max-width: 999px){
				width: 30px;
			}
			
			button::before{
				display: none!important;
			}
		}

		.slick-active{
			width: 70px;
			height: 5px;
			border: none;
			background: #005A98;
		}

	}	
}

.slide-principal.mod{
	display: none!important;
}

.banner-center{
	display: block;

	&.centerBanner0{
		margin-bottom: 100px;

		.image:first-child{
			margin-bottom: 0;
			display: none;
		}
		
		.image:nth-child(2){
			display: inline-block;
			text-align: center;
			float: none;
			// margin-left: 20px;
			margin-right: 0;
		}

		.image:last-child{
			display: inline-block;
			text-align: center;
			float: none;
			// margin-right: 20px;
			margin-left: 10px;
		}
		
	}

	&.centerBanner1{
		.image:first-child{
			margin-bottom: 100px;
			width: 100%;
		}
		
		.image:nth-child(2){
			display: none;
		}

		.image:last-child{
			display: none;
			margin-left: 10px;
		}
		@media (min-width: 768px) {
			// display: none;
		}
	}

	.image{
		float: left;
	}

	.image:first-child{
		margin-bottom: 10px;
	}

	.image:last-child{
		margin-left: 10px;
	}
}

.mosaico-mob{
	display: none;
}


@media only screen and (max-width: 1300px) {
	.categoria .filterColumn .filtro-categoria {
		left: 20px;
		position: relative;
	}
	.content_category {
		position: relative;
	}
}

@media only screen and (max-width: 1250px) {
	.banner-center{

		.image{
			width: calc(50% - 5px);
		}

		.image:first-child{
			width: 100%;
		}

	}
}

@media only screen and (max-width: 999px) {
	.slide-principal {
		display: none!important;
	}

	.slide-principal.mod{
		display: block!important;

		.slick-dots{
			bottom: -16px;
		}
	}

	.banner-center{
		display: none;
	}

	.mosaico-mob{
		display: block;

		.slick-arrow{
			display: none!important;
		}
	
		img{
			max-width: 100vw !important;
		}

		.slick-dots{
			bottom: 30px;
	
			li{
				width: 30px;
				height: 3px;
				background: #ccc;
				margin-top: 2px;
				
				button::before{
					display: none!important;
				}
			}
	
			.slick-active{
				width: 70px;
				height: 5px;
				background: #005A98;
			}
	
		}	
	}
}