.institucional{
    .titulo{
        width: 100%;
        float: left;
        text-align: center;
        color: #005A98;
        margin: 20px 0;
    }

    .content-institucional{
        width: 80%;
        margin: 0 10%;
        float: left;

        .item{
            .header{
                background: #005A98;
                color: #fff;
                font-weight: 600;
                padding: 10px;
            }

            .description{
                padding: 10px;
            }
        }

        h3{
            width: 100%;
            font-size: 14px;
            color: #005A98;
            float: left;
            margin-bottom: 15px;
        }

        #cep{
            width: auto;
            float: left;
            border: 1px solid #eee;
            padding: 15px;
        }

        #buscar-lojas{
            color: #fff;
            background: #005a98;
            padding: 14.5px;
            border: 0;
            display: inline-block;
            cursor: pointer;
        }

        .voltar_end{
            color: #005A98;
            font-weight: 700;
            text-decoration: underline;
            margin-left: 1rem;
        }

        .cep-invalido{
            width: 100%;
            float: left;
            color: #c00;
            margin-top: 10px;
        }

        .loja-nao-encontrada{
            width: 100%;
            float: left;
            text-align: center;
            font-weight: 600;
            color: #005A98;
            margin: 30px 0;
        }

        .lista-lojas{
            width: 100%;
            float: left;
            list-style-type: none;
            padding: 0;

            .loja{
                width: calc(100% / 2 - 20px);
                max-height: 350px;
                float: left;
                background: #f6f6f6;
                margin: 10px;
                padding: 30px;
                overflow: auto;

                .nome-fantasia{
                    width: 100%;
                    float: left;
                    font-weight: 600;
                    color: #005A98;
                    text-align: center;
                }

                .endereco,
                .bairro,
                .cep,
                .uf,
                .municipio,
                .telefone {
                    width: 100%;
                    float: left;
                }

                .mapBtn{
                    color: #15659C;
                    text-decoration: none;
                    background-color: transparent;
                    border: 2px solid #15659c;
                    background-image: linear-gradient(#F4F4F4, #F4F4F4);
                    box-sizing: border-box;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 29px;
                    text-align: center;
                    width: 100%;
                    float: left;
                }
            }
        }

        .forulario-contato{
            width: 100%;
            float: left;

            label{
                width: 100%;
                float: left;
                font-weight: 600;
                color: #666;
                margin-top: 10px;
            }

            input{
                width: 100%;
                float: left;
                border: 1px solid #ccc;
                padding: 10px;
                margin-bottom: 10px;
            }

            .enviar{
                width: 100%;
                float: left;
                background: #005A98;
                color: #fff;
                cursor: pointer;
                border: 0;
                padding: 15px;
            }

            .error{
                color: #f00;
            }

            h3{
                width: 100%;
                float: left;
                padding: 50px 0;
                text-align: center;
            }

            .enviar{
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .institucional{
 
        .content-institucional{
            width: 100%;
            margin: 0 0;
        }

        .content-institucional{

            .lista-lojas{
                width: 100%;
                float: left;
                list-style-type: none;
                padding: 0;
    
                .loja{
                    width: calc(100% - 20px);
                    margin: 0;
                }
    
            }
        }

    }
}

.ui.selection.dropdown .menu {
    max-height: 400px;
    height: auto;
}

@media only screen and (max-width: 999px) {
    .institucional{
 
        .content-institucional{
            width: 90%;
            margin: 0 5%;
        }
    }
}