.newsHome{
    margin: 50px 0;

    .container-center{
        padding: 10px 0;
        background: #f6f6f6;
    }

    h2{
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        color: #005A98;
    }

    p{
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        color: #aaa;
        margin-top: 10px;
        letter-spacing: 2.5px;
    }

    .field{
        width: 100%;
        float: left;
        margin-top: 20px;

        input{
            width: 635px;
            height: 45px;
            float: left;
            border-radius: 40px;
            border: 0;
            padding-left: 20px;
            color: #999;
            margin-left: calc(50% - 357.5px);
        }

        button{
            width: 100px;
            height: 45px;
            float: left;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            background: #005A98;
            border-radius: 50px;
            border: 0;
            margin-left: -20px;
        }
    }

    small{
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 10px;
        color: #666;

        a{
            color: #666;
            text-decoration: underline;
        }

    }
}


@media only screen and (max-width: 999px) {
    .newsHome{

        h2{
            font-size: 26px;
        }
        .field{
            input{
                width: calc(90% - 80px);
                margin-left: 5%;
            }
        }
    }
}