.probel{
    height: auto;
    background: url("/assets/image/banners/bn-conheca-probel.jpg") center center no-repeat;
    margin-bottom: 50px;
    display: none;

    h2{
        width: 100%;
        float: left;
        font-size: 38px;
        text-transform: uppercase;
        text-align: center;
        color: #005A98;
        margin-bottom: 20px;
    }

    p{
        width: 800px;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        line-height: 1.2;
        color: #999;
        margin: 10px auto 0;
        display: table;
    }

    .conheca{
        width: 100%;
        float: left;
        margin-top: 70px;
        border-bottom: 2px dotted #ccc;
        display: none;

        .saiba-mais{
            width: 185px;
            height: 40px;
            color: #005A98;
            text-transform: uppercase;
            text-align: center;
            font-size: 18px;
            border: 2px solid #005A98;
            display: table;
            margin: 45px auto;
            padding: 11px 0 8px;
            border-radius: 25px;
        }

        .saiba-mais:hover{
            background: #005A98;
            color: #fff;
        }

        .saiba-mais::after{
            content: '\F105';
            font-family: 'fontAwesome';
            display: inline;
            position: relative;
            font-size: 25px;
            top: 1.5px;
            left: 10px;
            color: #005A98;
        }

        .saiba-mais:hover::after{
            color: #fff;
        }

        
    }

    .filtro{
        width: 100%;
        float: left;
        margin: 100px 0;

        ul{
            width: 100%;
            float: left;
            list-style-type: none;
            margin-top: 40px;

            li{
                a{
                    width: calc(25% - 40px);
                    height: 150px;
                    font-size: 22px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    color: #005A98;
                    border: 2px solid #005A98;
                    border-radius: 15px; 
                    float: left;
                    margin: 0 20px;
                    padding: 62px 0;
                    
                    &:hover{
                        background: #005A98;
                        color: #fff;
                    }
                }

            }
        }
    }
}

.avisos{
    margin-top: 45px;
    
    .row{
        display: flex;
        justify-content: center;
        
        @media only screen and (max-width: 999px) {
            .slick-list{    
                width: 100% !important;
            }
        }
    }
    
    .column{
        &:nth-child(2){
            margin: 0 15px;
        }
    }
    
    .aviso{
        display: flex;
        padding: 10px 20px;
        border: 2px solid #2266C9;
        box-sizing: border-box;
        border-radius: 75px;
        
        @media only screen and (max-width: 999px){
            margin: 0 10px;
            justify-content: center;
        }
        
        &.cartao, &.boleto{
            p{
                color: #4F4F4F;
                font-size: 1rem;
                
                strong{
                    color: #2266C9
                }
            }
        }
        
        &.newsletter_header{
            background-color: #2266C9;
            
            a{
                color: white;
                font-size: 1rem;
                
                &:before{
                    background-image: url('/assets/image/email.png');
                }
            }
        }
        
        a,p{
            vertical-align: middle;
        }
        
        img{
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 1250px) {
    
    .probel .filtro ul{

        padding-left: 0;

        li a{
            font-size: 22px;
        }
    }
}

@media only screen and (max-width: 999px) {

    .probel{
        height: auto;
        background-color: #e6e6e6;
        background-size: 945%;

        p{
            width: 90%;
            margin-left: 5%;
        }
        .filtro{
            height: auto;

            ul{
                li{ 
                    a{
                        width: calc(50% - 20px);
                        margin: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    .filtro{
        ul{
            li{
                a {
                    font-size: 14px!important;
                }
            }
        }
    }
}