@media (max-width: 768px) {
    #home{
        .vitrine {
            display: flex;
            flex-wrap: wrap;
            .box-vitrine{
                padding-bottom: 0px;
            }
            > div:nth-child(1) {
                order: 1;
            }
            > div:nth-child(2) {
                order: 3;
                margin-bottom: 30px;
                .slick-dots{
                    bottom: 0 !important;
                }
            }
            > div:nth-child(4) {
                order: 2;
            }
            > div:nth-child(7) {
                order: 4;
            } 
            > div:nth-child(9) {
                order: 5;
            } 
            > div:nth-child(10) {
                order: 6;
            } 
            .newsHome{
                display: none;
            }
        }

    }      
}