.tipo{
    height: 550px;
    background: url(/assets/image/banners/bn-tipo-de-colchao.jpg) center center no-repeat;
    display: none;

    h3{
        width: 100%;
        float: left;
        font-size: 38px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin: 40px 0 15px;
    }

    p{
        width: 80%;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        line-height: 1.2;
        color: #ccc;
        margin: 50px auto 0;
        display: table;
    }

    .selecao{
        width: 100%;
        height: 330px;
        float: left;
        background: url(/assets/image/banners/tipo_colchao.png) center center no-repeat;
        border-top: 2px dotted #ccc;
        margin-top: 40px;
        padding-top: 0;
        
        ul{
            list-style-type: none;

            li{
                width: 150px;
                float: left;
                background:transparent;
                margin: 0 85px 0 57px;
            
                .icon-casal{
                    width: 115px;
                    height: 115px;
                    background: #fff;
                    border-radius: 50%;
                    float: left;
                    margin: 33px calc(50% - 56.5px) 0;
                }

                .icon-casal::before{
                    content: '\E905';
                    font-family: 'icomoon';
                    float: left;
                    color: #005A98;
                    font-size: 50px;
                    margin-top: 45px;
                    margin-left: 30px;
                }

                .icon-queen{
                    width: 115px;
                    height: 115px;
                    background: #fff;
                    border-radius: 50%;
                    float: left;
                    margin: 33px calc(50% - 56.5px) 0;
                }

                .icon-queen::before{
                    content: '\e903';
                    font-family: 'icomoon';
                    float: left;
                    color: #005A98;
                    font-size: 50px;
                    margin-top: 45px;
                    margin-left: 25px;
                }

                .icon-solteiro{
                    width: 115px;
                    height: 115px;
                    background: #fff;
                    border-radius: 50%;
                    float: left;
                    margin: 33px calc(50% - 56.5px) 0;
                }

                .icon-solteiro::before{
                    content: '\e904';
                    font-family: 'icomoon';
                    float: left;
                    color: #005A98;
                    font-size: 50px;
                    margin-top: 45px;
                    margin-left: 27px;
                }

                .icon-bercos{
                    width: 115px;
                    height: 115px;
                    background: #fff;
                    border-radius: 50%;
                    float: left;
                    margin: 33px calc(50% - 56.5px) 0;
                }

                .icon-bercos::before{
                    content: '\e902';
                    font-family: 'icomoon';
                    float: left;
                    color: #005A98;
                    font-size: 50px;
                    margin-top: 50px;
                    margin-left: 20px;
                }

                .text{
                    width: 100%;
                    float: left;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 1.3;
                    color: #fff;
                    margin: 85px 0 15px;
                }

                .btn-ver span{
                    width: 100%;
                    float: left;
                    padding: 5px 0;
                    font-size: 12px;
                    font-weight: 500;
                    text-align: center;
                    text-transform: uppercase;
                    background: #fff;
                    color: #005A98;
                    border-radius: 20px;
                }
                
                .btn-ver span::after{
                    content: '\f105';
                    font-family: 'fontAwesome';
                    color: #fff;
                    display: inline; 
                    position: relative;
                    font-size: 18px;
                    top: 1.5px;
                    left: 5px;
                    color: #005A98;
                }
            }

            li:hover{
                span:first-child{
                    background: rgb(7, 39, 83);
                }

                span:first-child::before{
                    color: #fff;
                }
                
                .btn-ver span{
                    background:rgb(7, 39, 83);
                    color: #fff;
                }

                .btn-ver span::after{
                    color: #fff;
                }
            }
        }
    }

}

@media only screen and (max-width: 1250px) {

    .tipo .selecao {
        background-size: 95%;
    }

    .tipo .selecao ul{
        padding: 0;
    }

    .tipo .selecao ul li{
        margin: 0 85px 0 0;
    }

    .tipo .selecao ul li:nth-of-type(1) {
        margin-left: 64px;
    }

    .tipo .selecao ul li:nth-of-type(2) {
        
    }

    .tipo .selecao ul li:nth-of-type(3) {
        margin-left: 6px;
    }

    .tipo .selecao ul li:nth-of-type(4) {
        margin-left: 6px;
        margin-right: 0;
    }
    
}

@media only screen and (max-width: 999px) {
    .tipo{
        height: auto;
        background-size: 815%;
        padding: 0 0 0px 0;
        margin-bottom: 50px;

        .selecao{
            background-image: none;

            ul{
                display: grid;

                li{
                    width: 80%!important;
                    margin-left: 10%!important;

                    .text{
                        margin: 35px 0 15px;
                    }
                }

                .slick-arrow{
                    display: none!important;
                }
            
                .slick-dots{
                    width: auto;
                    bottom: -100px;
                    display: table;
                    text-align: center;
                    float: none;
                    margin: 0 auto;
            
                    li{
                        width: 30px!important;
                        height: 3px;
                        background: #999;
                        margin-top: 2px;
                        margin: 0 5px!important;
                        
                        button::before{
                            display: none!important;
                        }
                    }
            
                    .slick-active{
                        width: 70px;
                        height: 5px;
                        background: #005A98;
                    }
                }
            }
        }
    }
}