.vitrine {
    margin-top: 50px;

    @media only screen and (max-width: 999px) {
        margin-top: 15px;
    }

    .titulo {
        width: 100%;
        float: left;
        padding-bottom: 5px;
        padding-left: 5px;
        margin-bottom: 35px;
        position: relative;

        h2 {
            font-size: 34px;
            text-transform: capitalize;
            color: #005a98;
        }

        .sub-title {
            position: absolute;
            top: 7px;
            right: 0;
            font-size: 20px;
            font-weight: 100;
            color: #777;

            span {
                color: #005a98;
            }
        }
    }

    .box-vitrine {
        width: 100%;
        float: left;
        position: relative;
        padding-bottom: 100px;

        .vitrine-prod {
            width: 1225px;
            height: 500px;
            float: left;

            .slick-arrow {
                border: 0;
                width: 52px;
                height: 52px;
                opacity: 1;
                font-size: 0;
                bottom: 335px;
                display: block;
                position: absolute;
                background-color: transparent;

                &.slick-prev {
                    background-image: url("/assets/image/tchara.png");
                    left: 0;
                }

                &.slick-next {
                    background-image: url("/assets/image/tchuru.png");
                    right: 0;
                }
            }

            .slick-list {
                height: 600px;
            }

            .slick-dots {
                bottom: -30px;

                li {
                    width: 30px;
                    height: 3px;
                    background: #999;
                    margin-top: 2px;

                    button::before {
                        display: none !important;
                    }
                }

                .slick-active {
                    width: 70px;
                    height: 5px;
                    background: #005a98;
                }
            }

            a.image {
                height: 201px !important;
            }

            .produto-prateleira {
                width: 290px;
                float: left;
                border-radius: 5px !important;

                @media screen and (min-width: $mobile-bp) {
                    padding: 15px 15px 25px;
                }

                .image {
                    width: 100% !important;
                    height: 210px !important;
                    float: left;
                    overflow: hidden;

                    .imagetag {
                        padding: 0.75rem 10px;

                        img {
                            height: auto !important;
                        }
                    }

                    img {
                        float: left;
                    }

                    @media only screen and (max-width: 999px) {
                        height: 150px !important;
                        padding: 15px 8px;
                    }
                }

                .info {
                    width: 100%;
                    float: left;
                    position: relative;
                    margin-top: 20px;

                    @media only screen and (max-width: 999px) {
                        margin-top: 0px;
                    }

                    .dados {
                        width: 100%;
                        float: left;

                        h3 {
                            width: 100%;
                            float: left;
                            font-size: 17px;
                            height: 66px;
                            font-weight: 400;
                            text-align: center;
                            color: #000000;

                            @media only screen and (max-width: 999px) {
                                font-size: 15px;
                                height: 100px;
                            }
                        }

                        .avaliacao {
                            width: 100%;
                            float: left;

                            .rating {
                                margin: 15px auto;
                                display: table;

                                .icon {
                                    font-size: 16px;
                                }
                            }
                        }

                        .precoBase {
                            width: 100%;
                            float: left;
                            margin-top: 5px;
                        }

                        .valorde {
                            width: 100%;
                            height: 20px;
                            float: left;
                            text-decoration: line-through;
                            text-align: center;
                            color: #a0a0a0;

                            i {
                                font-style: normal;
                            }
                        }

                        .precoPor {
                            font-size: 14px;
                            width: 100%;
                            float: left;
                            text-align: center;
                            margin-top: 5px;

                            .valor {
                                color: #666666;

                                span {
                                    color: #2166c9;
                                }
                            }

                            .msgBoleto {
                                font-size: 14px;
                                color: #4b4b4b;
                            }

                            @media only screen and (max-width: 999px) {
                                font-size: 13px;

                                .msgBoleto {
                                    font-size: 13px;
                                }
                            }
                        }

                        .parcelamento {
                            width: 100%;
                            float: left;
                            color: #4b4b4b;
                            font-size: 16px;
                            margin-top: 5px;
                            text-align: center;
                            font-weight: 500;

                            .installmentMaxValue {
                                font-weight: 600;
                                font-size: 20px;
                                color: #2166c9;
                            }

                            @media only screen and (max-width: 999px) {
                                font-size: 14px;

                                .installmentMaxValue {
                                    font-size: 16px;
                                }
                            }
                        }

                        .freteStatus {
                            float: left;
                            font-size: 14px;
                            margin-top: 5px;
                            font-weight: 500;
                            text-align: center;
                            height: 38px;
                            width: 277px;
                        }
                    }

                    .botoes {
                        display: none;
                        clear: both;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        bottom: -40px;
                        background: #fff;
                        height: 53px;
                    }
                }
            }

            .produto-prateleira:hover {
                box-shadow: 0 0 5px #ccc;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                padding-bottom: 0;
                height: 530px;

                .botoes {
                    opacity: 1;
                    display: block;
                }

                .btnDetalhes {
                    position: absolute !important;
                    bottom: 0 !important;
                    left: 0 !important;
                    color: #fff !important;
                    font-size: 18px !important;
                    box-sizing: border-box;
                    padding: 0 !important;
                    z-index: 10 !important;
                    width: 100%;
                    height: 55px !important;
                    line-height: 55px !important;
                    background: #fb7d32 !important;
                    box-shadow: initial !important;
                    text-transform: capitalize !important;
                    font-weight: 600;

                    .icon-ver::before {
                        content: "\f178";
                        font-family: "fontAwesome";
                        display: inline;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .vitrine {
        .box-vitrine {
            .vitrine-prod {
                width: 999px;
            }
        }

        .titulo {
            h2 {
                font-size: 28px;
            }

            .sub-title {
                font-size: 16px;
                top: 7px;
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .titulo {
        h2 {
            width: 100%;
            float: left;
            position: static !important;
            text-align: center !important;
        }
        .sub-title {
            width: 100%;
            font-size: 12px !important;
            text-align: center !important;
            float: left;
            position: static !important;
            padding: 0 20px;
        }
    }

    .vitrine {
        .box-vitrine {
            .vitrine-prod {
                width: 100%;
                display: grid;
            }
        }
    }
}

@media (max-width: 768px) {
    .vitrine {
        .box-vitrine {
            .vitrine-prod {
                .produto-prateleira {
                    .botoes {
                        opacity: 1;
                        display: block !important;
                    }
                    .btnDetalhes {
                        position: absolute !important;
                        bottom: 0 !important;
                        left: 15px !important;
                        color: #fff !important;
                        font-size: 16px !important;
                        box-sizing: border-box;
                        padding: 0 !important;
                        z-index: 10 !important;
                        width: calc(100% - 30px) !important;
                        height: 55px !important;
                        line-height: 55px !important;
                        background: #fb7d32 !important;
                        box-shadow: initial !important;
                        text-transform: capitalize !important;
                        font-weight: 600;
                        display: block !important;
                        .icon-ver::before {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}
