.lojas {
	margin-bottom: 50px;

	ul:first-child {
		width: 100%;
		float: left;
		list-style-type: none;
		margin: 0 0 50px 0;
		border-bottom: 2px dotted #ccc;
		padding: 0;
		padding-bottom: 70px;

		li {
			width: calc(100% / 3 - 50px);
			float: left;
			margin: 0 25px;

			&:nth-child(2) {
				p {
					margin-bottom: 59px;
				}
			}

			img {
				width: 100%;
				height: auto;
				float: left;
			}

			h3 {
				width: 100%;
				float: left;
				font-size: 18px;
				font-weight: 600;
				text-transform: uppercase;
				text-align: center;
				line-height: 1.3;
				color: #005A98;
				margin: 20px 0;
			}

			p {
				width: 100%;
				float: left;
				color: #999;
				font-size: 14px;
				text-align: center;
				margin-bottom: 40px;
			}

			span {

				a {
					padding: 10px 40px;
					font-size: 16px;
					text-align: center;
					text-transform: uppercase;
					background: #005A98;
					border-radius: 20px;
					display: table;
					margin: 20px auto 0;
					color: #fff;
				}

				a:hover {
					background: #fff;
					color: #005A98;
				}

				a::after {
					content: '\F105';
					font-family: 'fontAwesome';
					color: #fff;
					display: inline;
					position: relative;
					font-size: 18px;
					left: 10px;
				}

				a:hover::after {
					color: #005A98;
				}
			}
		}
	}

	ul:last-child {
		width: 100%;
		float: left;
		list-style-type: none;
		padding-top: 40px;
		display: none;

		li {
			width: calc(100% / 3 - 50px);
			float: left;
			margin: 0 25px;

			span:first-child {
				width: 100%;
				float: left;
				margin-bottom: 20px;
			}

			span:first-child::before {
				font-size: 74px;
			}

			span.blog::before {
				width: 100%;
				content: '\e900';
				float: left;
				font-family: 'icomoon';
				text-align: center;
				color: #005A98;
			}

			span.sustentabilidade::before {
				width: 100%;
				content: '\e909';
				float: left;
				font-family: 'icomoon';
				text-align: center;
				color: #005A98;
			}

			span.premios::before {
				width: 100%;
				content: '\e908';
				float: left;
				font-family: 'icomoon';
				text-align: center;
				color: #005A98;
			}

			h3 {
				width: 100%;
				float: left;
				font-size: 18px;
				font-weight: 600;
				text-transform: uppercase;
				text-align: center;
				line-height: 1.3;
				color: #005A98;
				margin: 20px 0;
			}

			p {
				width: 100%;
				float: left;
				color: #999;
				font-size: 14px;
				text-align: center;
				margin-bottom: 40px;
			}

			span {

				a {
					padding: 10px 40px;
					font-size: 16px;
					text-align: center;
					text-transform: uppercase;
					background: #fff;
					border: 1px solid #005A98;
					border-radius: 20px;
					display: table;
					margin: 20px auto 0;
					color: #005A98;
				}

				a::after {
					content: '\F105';
					font-family: 'fontAwesome';
					color: #005A98;
					display: inline;
					position: relative;
					font-size: 18px;
					left: 10px;
				}
			}

		}
	}
}

.end-probel {
	margin: 70px 0;
	display: none;

	img {
		width: 250px;
		height: auto;
		margin: 0 auto;
		display: table;
	}

	p {
		width: 100%;
		float: left;
		color: #999;
		text-align: center;
		margin-top: 40px;
	}
}

.insta {
	margin: 50px 0;

	h3 {
		float: left;
		font-size: 22px;
		text-transform: uppercase;
		margin-top: 15px;
	}

	.img-insta {
		width: 335px;
		height: 55px;
		float: right;
		background: url('/assets/image/banners/insta.png') center center no-repeat;
	}

	#instafeed {
		width: 1225px;
		float: left;
		margin-top: 30px;
		margin-bottom: 50px;

		img {
			width: auto;
			height: 300px;
		}

		.slick-slide>div {
			position: relative;
			margin: 0 5px;

			.infos {
				width: 200px;
				height: 28px;
				top: calc(50% - 14px);
				left: calc(50% - 80px);
				position: absolute;

				.likes {
					float: left;
					color: #fff;
					font-size: 25px;
					margin-right: 30px;
					text-shadow: 2px 0px 5px #000;
				}

				.likes::before {
					content: '\f004';
					font-family: 'fontAwesome';
					float: left;
					color: #fff;
					margin-right: 5px;
				}

				.comentario {
					float: left;
					color: #fff;
					font-size: 25px;
					text-shadow: 2px 0px 5px #000;
				}

				.comentario::before {
					content: '\f075';
					font-family: 'fontAwesome';
					float: left;
					color: #fff;
					margin-right: 5px;
				}
			}
		}

		.slick-arrow {
			display: none !important;
		}

		.slick-dots {
			bottom: -50px;

			li {
				width: 30px;
				height: 3px;
				background: #999;
				margin-top: 2px;

				button::before {
					display: none !important;
				}
			}

			.slick-active {
				width: 70px;
				height: 5px;
				background: #005A98;
			}

		}
	}
}

.newsletter {
	background: transparent;
	position: relative;
	padding-bottom: 74px;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 3000px;
		height: 100%;
		background: url('/assets/image/bg_news.png');
		background-size: auto;
		margin-left: -168px;
		z-index: -1;
	}

	@media screen and (max-width: 768px) {
		&:after {
			margin-left: -1000px;
		}
	}

	.face {
		display: none;
		width: 410px;
		position: relative;

		h3 {
			float: left;
			padding: 10px 40px;
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
			background: #fff;
			border: 1px solid #005A98;
			border-radius: 20px;
			display: table;
			margin: 0px auto;
			color: #005A98;
		}

		#fb-root {
			width: 100%;
			float: left;
			margin-top: 15px;
		}
	}

	.newsletter-campo {
		float: right;
		width: 52%;

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		h3 {
			font-size: 30px;
			font-weight: 500;
			color: #2266C9;
			margin-top: 31px;
		}

		p {
			width: 100%;
			font-size: 18px;
			float: left;
			color: #3C3C3C;
			text-align: left;
			margin-bottom: 65px;

			@media screen and (max-width: 768px) {
				text-align: center;
			}
		}

		.mail {
			display: block;
		}

		#email_news {
			width: 70%;
			float: left;
			border: 0;
			background: #FFFFFF;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			padding: 12px 10px;
		}

		.label {
			p {
				height: 17px;
				margin-top: 10px;
				font-size: 13px;
				color: #949494;
				margin-bottom: 0;

				@media screen and (max-width: 768px) {
					text-align: center;
				}
			}
		}

		#btn_news {
			width: 22%;
			float: right;
			border: 0;
			font-weight: 700;
			font-size: 18px;
			color: #fff;
			background: #FB7D32;
			box-shadow: 0px 4px 4px rgba(250, 157, 48, 0.33);
			border-radius: 4px;
			padding: 10px 8px;
			margin-right: 5%;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}

			@media screen and (max-width: 768px) {
				width: 33%;
			}
		}
	}
}

.footer {
	border-bottom: 1px solid #DDDDDD;
	background: #FFFFFF;
	margin: 0 0 50px;
	padding: 50px 0;

	h3 {
		width: 100%;
		font-size: 18px;
		color: #005A98;
		padding: 10px 0;
		border-radius: 10px;
	}

	ul {
		width: 100%;
		float: left;
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			width: 100%;
			padding: 10px 0;
			float: left;

			a {
				width: 100%;
				float: left;
				color: #000000;
				font-size: 15px;
				font-weight: normal;
				margin-bottom: 5px;
			}
		}
	}

	.itens {
		width: 100%;
		float: left;
		margin-top: 20px;
	}

	.footer-01-01 {
		width: 25%;
		float: left;
		padding: 0;

		.itens {
			ul {
				li {

					&:nth-child(6),
					&:nth-child(7),
					&:nth-child(8),
					&:nth-child(9),
					&:nth-child(10) {
						display: none;
					}
				}
			}
		}
	}

	.footer-01-02 {
		width: 25%;
		float: left;
		padding: 0;

		.itens {
			ul {
				li {

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(5) {
						display: none;
					}

					&:nth-child(10) {
						margin-top: 15px;
						padding: 6px 14px;
						background: #2266C9;
						border-radius: 91px;
						width: 60%;
						text-align: center;

						a {
							color: white;
							font-weight: 500;
						}
					}
				}
			}
		}
	}

	.footer-01-03 {
		width: 40%;
		float: left;
		padding: 0;

		.itens {
			p {
				width: 65%;
				float: left;
				color: #000;
				font-size: 16px;
				line-height: 1.9;

				strong {
					font-size: 17px;
				}
			}

			span {
				color: #000; // #7d7d7d
				font-size: 13px;
				text-align: justify;
				position: relative;
				display: block;
				width: 87%;
			}
		}
	}

	.footer-01-04 {
		width: 10%;
		float: left;
		padding: 0;

		.itens {
			ul {
				display: flex;

				li {
					width: auto;

					&:nth-child(2) {
						margin: 0 12px;
					}
				}
			}
		}
	}

}

.footer-02 {
	padding: 20px 0;

	.container-center {
		display: flex;

		@media only screen and (max-width: 999px) {
			display: block;
		}
	}

	.pagamento {
		width: 32%;

		h3 {
			font-weight: 300;
			margin-bottom: 10px;
			font-size: 13px;
			color: #3A3A3A;
		}

		@media only screen and (max-width: 999px) {
			width: 100%;

			h3 {
				text-align: center;
			}

			.itens {
				display: flex;
				justify-content: center;
			}
		}
	}

	.seguranca {
		width: 35%;
		margin: 0 80px;

		h3 {
			font-weight: 300;
			margin-bottom: 10px;
			font-size: 13px;
			color: #3A3A3A;
		}

		.itens {
			display: flex;
			justify-content: center;

			img {
				width: 100%;
				height: auto;
			}
		}

		@media only screen and (max-width: 999px) {
			width: 100%;
			margin: 35px auto;

			h3 {
				text-align: center;
			}
		}
	}

	.logos {
		width: 32%;

		h3 {
			font-weight: 300;
			margin-bottom: 10px;
			font-size: 13px;
			color: #3A3A3A;
		}

		a {
			margin: 0 10px;
		}

		@media only screen and (max-width: 999px) {
			width: 100%;

			h3 {
				text-align: center;
			}

			.itens {
				display: flex;
				justify-content: center;
			}
		}
	}
}

.footer-03 {
	padding: 20px 0;

	p {
		width: 100%;
		float: left;
		font-size: 12px;
		text-align: center;
		color: #000;

	}
}

.footer-04 {
	padding: 20px 0;
	background: #f6f6f6;

	p {
		width: 100%;
		float: left;
		font-size: 12px;
		text-align: center;
		color: #545454;

	}
}

@media only screen and (max-width: 1250px) {
	.insta {
		#instafeed {
			width: 999px;
		}
	}

	.newsletter {

		.newsletter-campo {

			h3 {
				font-size: 22px;
			}
		}
	}
}

@media only screen and (max-width: 999px) {
	.lojas {
		margin: 0;

		ul {
			display: grid;
			margin: 0;
			padding-top: 0 !important;
			padding: 0;

			li {
				width: 80% !important;
				margin: 0 10% !important;
				padding-top: 35px;
			}

			.slick-arrow {
				display: none !important;
			}

			.slick-dots {
				width: auto;
				display: table;
				text-align: center;
				float: none;
				margin: 0 auto;
				bottom: -35px;

				li {
					width: 30px !important;
					height: 3px;
					background: #999;
					margin-top: 2px;
					margin: 0 5px !important;
					padding-top: 0px;

					button::before {
						display: none !important;
					}
				}

				.slick-active {
					width: 70px;
					height: 5px;
					background: #005A98;
				}
			}
		}
	}

	.end-probel {
		width: 80% !important;
		margin-left: 10%;
		margin-top: 100px;
		margin-bottom: 30px;
	}

	.insta {

		h3 {
			width: 100%;
			float: left;
			font-size: 14px;
			text-align: center;
		}

		.img-insta {
			width: 320px;
			float: none;
			background: url(/assets/image/banners/insta.png) center center no-repeat;
			margin: 0 auto;
			display: table;
			background-size: 100%;
		}

		#instafeed {
			width: 100%;
			display: grid;

			img{
				margin: 0 auto;
			}
		}
	}

	.newsletter {
		.face {
			width: 100%;

			h3 {
				width: 80%;
				margin-left: 10%;
				text-align: center;
				font-size: 10px;
			}

			.fb_iframe_widget_fluid {
				width: 320px;
				float: none;
				position: static;
				display: table;
				margin: 20px auto;

				>div {
					float: left;
					position: relative;
				}

				span {
					width: 100% !important;
				}

				iframe {
					width: 100% !important;
				}

			}
		}

		.newsletter-campo {
			h3 {
				width: 100%;
				text-align: center;
			}

			#email_news {
				width: 90%;
				margin-left: 5%;
				margin-bottom: 10px;
			}

			#btn_news {
				width: 90%;
				float: none;
				display: table;
				margin: 0 auto 0 5%;
			}
		}
	}

	.footer {
		border-bottom: none;
		padding: 15px 0;

		.footer-01-01,
		.footer-01-02,
		.footer-01-03,
		.footer-01-04 {
			width: 100%;

			h3 {
				text-align: left;
				padding-left: 29px;
				padding-bottom: 20px;

				&::after {
					content: '\f105';
					font-family: 'fontAwesome';
					font-size: 22px;
					float: right;
					color: #005A98;
					margin-right: 15px;
				}
			}

			.itens {
				display: none;
				margin-bottom: 0;

				li {
					a {
						padding: 5px;
						text-align: center;
					}
				}
			}
		}

		.footer-01-01 {
			border-top: 0;
			border-bottom: 1px solid #EFEFEF;
		}

		.footer-01-02 {
			border-bottom: 1px solid #EFEFEF;

			h3 {
				padding-top: 20px;
			}

			.itens {

				li {
					&:nth-child(9) {
						width: 91% !important;
						text-align: center;
						margin: 15px 0 15px 15px;
					}
				}
			}
		}

		.footer-01-03 {
			border-bottom: 1px solid #EFEFEF;

			h3 {
				padding-top: 20px;
			}

			.itens {
				text-align: center;
			}
		}

		.footer-01-04 {
			margin-top: 40px;
			display: flex;
			justify-content: center;

			h3 {
				height: 44px;
				margin-top: 10px;

				&::after {
					content: '';
					display: none;
				}
			}

			.itens {
				display: block;
				margin-top: 0;
			}
		}

		.footer-01-05 {
			margin-bottom: 0;
		}

		.itens {
			margin: 20px 0;
		}
	}

	.footer-03,
	.footer-04 {
		padding: 10px;
	}

	.footer-04 {
		margin-bottom: 60px;
	}
}