@model DomainProduct.Settings

<div class="ui pagination menu" data-teste="@Request.Browser.IsMobileDevice">
    <a id="previousPage" class="@(Model.HasPreviousPage ? "" : "disabled") item" href="javascript: void(0);" data-number="@(@Model.PageNumber - 1)">
        <i class="angle left icon"></i>
    </a>
    
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        if (Model.PageCount <= 5 || Model.PageCount > 5 && i >= Model.PageNumber - 5 && i <= Model.PageNumber + 5)
        {
            <a class="@(i == Model.PageNumber ? "active" : "") btnPageNumber item" data-number="@(i)" href="javascript: void(0);">
                @(i)
            </a>
        }
    }
    
    <a id="nextPage" class="@(Model.HasNextPage ? "" : "disabled") item" href="javascript: void(0);" data-number="@(@Model.PageNumber + 1)" data-last-page="@(Model.PageCount)">
        <i class="angle right icon"></i>
    </a>
</div>

