﻿@model List<DomainCompany.Entities.Faq>

@{
    ViewBag.Title = "Perguntas Frequentes";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumb.cshtml";
}

@section breadcrumbs {
    
}

<div class="container institucional perguntas-frequentes">
    <div class="container-center">
        <div class="titulo">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="content-institucional">
            @if (Model != null)
            {
                foreach (var faq in Model)
                {
                    <div class="item">
                        <div class="content">
                            <p class="header">@faq.Question</p>
                            <div class="description">
                                @faq.Answer
                            </div>
                            <div class="extra">
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="text center">Até o momento não exisem dúvidas frequentes.</div>
            }
        </div>
    </div>
</div>


