﻿@model IList<DomainProduct.Entities.Group>

@if (Model != null && Model.Count() > 0)
{
    <div class="container vitrine">

        @foreach (var group in Model)
        {

            var _idGroupCurrent = group.IdGroup != null ? group.IdGroup : 0;

                    if (@group.IdGroup == 2170)
                    {
                        <div class="container-center">
                            <div class="box-vitrine colecao-@group.IdGroup">
                                <div class="titulo">
                                    <h2>@group.Name</h2><p class="sub-title"> 
                                    As melhores <span>ofertas</span> exclusivas com preço à vista parcelado até <span>12 vezes</span> sem juros</p>
                                </div>
                                @Html.Action("ProductsByGroup", "Product", new { id = _idGroupCurrent })
                            </div>
                        </div>
                        @Html.Action("CentralHalfBanner", "Banner")
                        @Html.Action("FooterHalfBanner", "Banner")
                        @Html.Partial("Blocks/_Newsletter")
                    }else if (@group.IdGroup == 2436)
                    {
                        <div class="container-center">
                            <div class="box-vitrine colecao-@group.IdGroup">
                                <div class="titulo">
                                    <h2>@group.Name</h2><p class="sub-title"> 
                                     Veja aqui os produtos mais desejados e adquiridos por outros clientes</p>
                                </div>
                                @Html.Action("ProductsByGroup", "Product", new { id = _idGroupCurrent })
                            </div>
                        </div>
                        @Html.Partial("Blocks/_Probel")
                    }else if (@group.IdGroup == 2437)
                    {
                        <div class="container-center">
                            <div class="box-vitrine colecao-@group.IdGroup">
                                <div class="titulo">
                                    <h2>@group.Name</h2><p class="sub-title"> 
                                    As melhores <span>ofertas</span> exclusivas com preço à vista parcelado em até <span>12 vezes</span> sem juros</p>
                                </div>
                                @Html.Action("ProductsByGroup", "Product", new { id = _idGroupCurrent })
                            </div>
                        </div>
                    }else{
                        <div class="container-center">
                            <div class="box-vitrine colecao-@group.IdGroup">
                                <div class="titulo">
                                    <h2>@group.Name</h2><span class="sub-title"> </span>
                                </div>
                                @Html.Action("ProductsByGroup", "Product", new { id = _idGroupCurrent })
                            </div>
                        </div>
                        }
        }

    </div>
}


