﻿@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{

    List<DomainCompany.Entities.Banner> bannerRandom = Model.Where(b => b.Random == true).ToList();
    List<DomainCompany.Entities.Banner> bannerNoRandom = Model.Where(b => b.Random == false).ToList();

    <div class="car-banners">

        @foreach (var banner in Model)
        {
            <a href="@banner.Link">
                <img src="@banner.NameFileImage" class="ui fluid image" alt="@banner.Name" onerror="imgError(this)" />
            </a>
        }

    </div>
}