@model IList<DomainCompany.Entities.Banner>
    @if (Model != null && Model.Any())
    {
        <div class="container banner-center">
            <div class="container-center">
                
                @foreach (var banner in Model)
                {
                    <a href="@banner.Link"  target="_blank" class="ui image" title="@banner.Name">
                        <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" alt="@banner.Name" title="@banner.Name" class="margin none" class="ui image">
                    </a>
                }
                
            </div>
        </div>
    }