﻿@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{

List<DomainCompany.Entities.Banner> bannerRandom = Model.Where(b => b.Random == true).ToList();
List<DomainCompany.Entities.Banner> bannerNoRandom = Model.Where(b => b.Random == false).ToList();

<div class="container mosaico-mob">
    @{
        foreach (var banner in Model)
        {
            <a href="@banner.Link" title="@banner.Name">
                <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" alt="@banner.Name" title="@banner.Name" class="ui image" onerror="imgError(this)">
            </a>
        }
    }
</div>
}
