﻿@model List<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{
<div class="container slide-principal mod">
    @foreach (var banner in Model)
    {
        <a href="@banner.Link"  title="@banner.Name">
            <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" alt="@banner.Name" title="@banner.Name" class="ui image fluid" onerror="imgError(this)">
        </a>
    } 
</div>
}