﻿
@model DomainProduct.Entities.Product

@*
    reference: https://developers.google.com/search/docs/data-types/product
*@

<div id="Product_@Model.IdProduct" data-id="Product_@Model.IdProduct" class="ui produto produto-prateleira" data-exhausted="@Model.FlagExhausted" data-signature="@Model.PurchaseRecurring" itemscope itemtype="http://schema.org/Product">
    <input type="hidden" id="selected-references_@Model.IdProduct" />
    <meta itemprop="productID" content="@Model.IdProduct">
    <div class="content">
        
        <a class="ui image fluid" itemprop="url" href="@(Model.UrlFriendlyCustom != null ? Model.UrlFriendlyCustom : Model.UrlFriendly)" title="@Model.Name">
            <img id="mainImageCard_@Model.IdProduct" src="@(Model.ImageHome != null ? Model.ImageHome : "/assets/image/img_default.png")" class="visible content" onerror="imgError(this)" alt="@Model.Name" title="@Model.Name">
            @if (Model.SealStatus != null && Model.SealStatus.Name != "Normal")
            {
                <div class="ui top right attached label massive imagetag">
                    <img src="@Model.SealStatus.Image" class="ui image tiny" onerror="imgError(this)" alt="@Model.Name" title="@Model.Name">
                </div>
            }
        </a>

        <div class="info">

            <div class="dados">
                <div class="ui horizontal avaliacao">
                    <div class="ui tiny star rating" data-rating="@Model.Rate.Value.ToString().Replace(",", ".")"></div>
                </div>
                
                <a href="@(Model.UrlFriendlyCustom != null ? Model.UrlFriendlyCustom : Model.UrlFriendly)" title="@Model.Name">
                    <h3>
                        <span itemprop="name">
                            @Model.Name
                        </span>
                    </h3>
                </a>

                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                    <meta itemprop="priceCurrency" content="BRL" />
                
                    @if (Model.PricePromotion != null && Model.PricePromotion > 0)
                    {
                        <div id="basePrice_@Model.IdProduct" class="precoBase">
                            <span class="valorde">
                                De :<i>@string.Format("{0:c}", Model.Price)</i>
                            </span>   
                        </div>
                        
                        <span class="parcelamento">
                            Em até
                            <span class="installmentMaxNumber">@Model.InstallmentMax.MaxNumber x</span>
                            de 
                            <span class="installmentMaxValue">@string.Format("{0:c}", Model.InstallmentMax.Value)</span> 
                            <br>
                            sem juros no cartão
                        </span>
                        
                        <span class="precoPor">
                            <span class="valor">
                                Ou <span itemprop="price">R$ @string.Format("{0:n2}", Model.PricePromotion)</span> à vista
                            </span>
                            <meta itemprop="price" content="@string.Format("{0:n2}", Model.PricePromotion).Replace(".", "").Replace(",", ".")" />
                            <br>
                            <span class="msgBoleto">
                                5% de desconto no boleto
                            </span>
                        </span>
                        
                    }
                    else
                    {
                        
                        <span class="valorde"></span>
                        <span class="precoPor">
                            <span class="valor">
                                R$ <span itemprop="price">@string.Format("{0:n2}", Model.Price)</span>
                            </span>
                            <span class="msgBoleto hideme">
                                à vista no boleto*
                            </span>
                            <meta itemprop="price" content="@string.Format("{0:n2}", Model.Price).Replace(".", "").Replace(",", ".")" />
                        </span>
                    }
                    
                    @if (Model.Stock >= 0 && !Model.FlagExhausted)
                    {
                        <br /><br />
                        <span class="text color grey regular freteStatus small">
                            @Model.DescriptionAvailabilityStatus
                        </span>
                    }

                    @if (!Model.FlagExhausted && Model.Stock > 0)
                    {
                        <meta itemprop="availability" content="http://schema.org/InStock" title="disponível" />
                    }
                    else
                    {
                        <meta itemprop="availability" content="http://schema.org/SoldOut" title="esgotado" />
                    }

                </div>
            </div>
            <div class="botoes centered">
                <!-- Verificar se o produto é conjunto -->
                @if (Model.HasConjunct)
                {
                    <a href="@(Model.UrlFriendlyCustom != null ? Model.UrlFriendlyCustom : Model.UrlFriendly)" title="Comprar" class="ui labeled icon button action fluid text uppercase btnComprar" data-idproduct="@Model.IdProduct" data-name="Model.Name">
                        <i id="btn-icon-card-Model.IdProduct" class="icon announcement"></i>
                        Comprar <span class="icon-ver"></span>
                    </a>
                }
                else if (Model.FlagExhausted || Model.Stock <= 0)
                {
                    <a id="btn-comprar-card-@Model.IdProduct" title="Avise-me" class="ui labeled icon button grey fluid avise-card avise-me-modal text uppercase btnComprar" data-idproduct="@Model.IdProduct" data-name="@Model.Name">
                        <i id="btn-icon-card-@Model.IdProduct" class="icon announcement"></i>
                        Avise-me
                    </a>
                    //<a class="ui button btnDetalhes mobile-hide tablet-hide" href="@(Model.UrlFriendlyCustom != null ? Model.UrlFriendlyCustom : Model.UrlFriendly)">
                    //    Comprar
                    //</a>
                }
                else
                {
                    <a class="ui button btnDetalhes mobile-hide tablet-hide" href="@(Model.UrlFriendlyCustom != null ? Model.UrlFriendlyCustom : Model.UrlFriendly)">
                        Comprar <span class="icon-ver"></span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>