﻿@model DomainCustomer.Entities.Customer

@{
    ViewBag.Title = "Alterar Senha";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}


@section breadcrumbs {
    <div class="container breadcrumb-sistema">
        <div class="container-center">
        
            <h1>@ViewBag.Title</h1>
            <div class="ui breadcrumb text small">
                <a class="section" href="/">Home</a>
                <i class="right angle icon divider"></i>
                <a class="section">Área do Cliente</a>
                <i class="right angle icon divider"></i>
                <div class="active section">Alteração de Senha</div>
            </div>

        </div>
    </div>
}

@section banner {

}

<div class="ui grid middle aligned center aligned">
    <div class="row">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
            @using (Ajax.BeginForm("NewPassword", "Customer", new AjaxOptions {HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure"}, new {@class = "ui large form"}))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.IdCustomer, new {name = "IdCustomer"})
                @Html.HiddenFor(m => m.User.UserName, new {name = @Model.Name})

                <div class="ui segment">
                    <div class="ui grid very relaxed stackable top aligned left aligned grid">
                        <div class="row two column divided horizontal">
                            <div class="column">
                                <div class="field">
                                    <label>E-mail Atual</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" name="email" disabled="disabled" value="@Model.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field required">
                                    <label>Nova Senha</label>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="User.password" placeholder="*******">
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>Confirme nova senha</label>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="User.PasswordConfirm" placeholder="*******">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row two column">
                            <div class="column left aligned left floated">
                                <a href="/customer/index">
                                    <div class="ui animated button basic"
                                         tabindex="0">
                                        <div class="visible content">Cancelar</div>
                                        <div class="hidden content">
                                            <i class="remove icon"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column right aligned right floated">
                                <button type="submit" class="ui animated button submit primary"
                                        tabindex="0">
                                    <div class="visible content">Alterar</div>
                                    <div class="hidden content">
                                        <i class="checkmark icon"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
            }
        </div>
    </div>
</div>


@section custom_js {
    <script>

        function OnSuccess(response) {
            if (response.success == true) {
                swal({
                    title: '',
                    text: response.message,
                    type: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                }).then(function() {
                    window.location.href = "/Customer/Index/@Model.IdCustomer";
                });
            } else {
                if (response.message.split("|#|")[0] == "token") {
                    swal({
                        title: '',
                        text: response.message.split("|#|")[1],
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#16ab39',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'OK'
                    });
                    window.setTimeout(function() {
                            window.location.href = "/Customer/Login";
                        },
                        2000);
                } else {
                    swal({
                        title: '',
                        text: response.message.split("|#|")[1],
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#16ab39',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'OK'
                    });
                }
            }
        }

        function OnFailure(response) {
            if (response.success == false) {
                swal({
                    title: '',
                    text: response.Message,
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                }).then(function() {
                    window.setTimeout(function() {
                            window.location.href = "/Customer/Login";
                        },
                        2000);
                });
            }
        }
    </script>
}