﻿@model DomainCustomer.Entities.Customer

@{
    ViewBag.Title = "Alterar Senha";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="container breadcrumb-sistema">
        <div class="container-center">

            <h1>@ViewBag.Title</h1>
            <div class="ui breadcrumb text small">
                <a class="section" href="/">Home</a>
                <i class="right angle icon divider"></i>
                <a href="/Customer/Index" class="section">Área do Cliente</a>
                <i class="right angle icon divider"></i>
                <span class="active section">Alteração de Senha</span>
            </div>
                
        </div>
    </div>
}

@section banner {

}

<div class="ui grid middle aligned center aligned">
    <div class="row">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
            @using (Ajax.BeginForm("ChangePassword", "Customer", null, new AjaxOptions {HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure"}, new {@class = "ui large form"}))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.IdCustomer, new {name = "IdCustomer"})
                @Html.HiddenFor(m => m.User.UserName, new {name = @Model.User.UserName})

                <div class="ui segment">
                    <div class="ui grid very relaxed stackable top aligned left aligned grid">
                        <div class="row two column divided horizontal">
                            <div class="column">
                                <div class="field">
                                    <label>E-mail atual</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input class="field disabled" type="text" name="email" value="@Model.User.UserName">
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>Senha antiga</label>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="senha_antiga" placeholder="*******">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field required">
                                    <label>Nova senha</label>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="User.password" placeholder="*******">
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>Confirmação da nova senha</label>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="User.PasswordConfirm" placeholder="*******">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column left aligned left floated">
                                <a href="/customer/index">
                                    <div class="ui animated button basic"
                                         tabindex="0">
                                        <div class="visible content">Cancelar</div>
                                        <div class="hidden content">
                                            <i class="remove icon"></i>
                                        </div>
                                    </div>
                                </a>
                                <button type="submit" class="ui animated button submit primary right floated"
                                        tabindex="0">
                                    <div class="visible content">Alterar</div>
                                    <div class="hidden content">
                                        <i class="checkmark icon"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
            }
        </div>
    </div>
</div>


@section custom_js {
    <script>

        function OnSuccess(response) {
            if (response.Success == true) {
                swal({
                    text: response.Message,
                    type: response.type,
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                }).then(function() {
                    window.location.href = "/Customer/Index/@Model.IdCustomer";
                });
            } else {
                swal({
                    text: response.Message,
                    type: response.type,
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
            }
        }

        function OnFailure(response) {
            if (response.Success == false) {
                swal({
                    text: response.Message,
                    type: response.type,
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                }).then(function() {
                    window.location.href = "/Customer/Index/@Model.IdCustomer";
                });
            }
        }
    </script>
}