﻿@model DomainCustomer.Entities.Customer
@{
    ViewBag.Title = "Área do Cliente";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="container breadcrumb-sistema">
        <div class="container-center">

            <h1>@ViewBag.Title</h1>
            <div class="ui breadcrumb text small">
                <a class="section" href="/">Home</a>
                <i class="right angle icon divider"></i>
                <a class="section">Área do Cliente</a>
            </div>
                
        </div>
    </div>
}

<div class="container customer">
    <div class="container-center">
        <div class="column">
            <div class="ui grid stackable">
                <h4>Olá, @Model.Name</h4>
                <div class="row two column lista-customer">
                    <div class="column">
                        <div class="ui items very relaxed divided menuclient">
                            <a class="item" href="/Order/LastOrderDetail">
                                <div class="ui small">
                                    <i class="ui icon big asterisk orange "></i>
                                </div>
                                <div class="content">
                                    <div class="header">Último Pedido</div>
                                    <div class="description">
                                        <p>Consulte seu último pedido realizado em nossa loja.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="item" href="~/Order/Index">
                                <div class="ui small">
                                    <i class="ui icon big shopping basket  blue "></i>
                                </div>
                                <div class="content">
                                    <div class="header">Consultar meus pedidos</div>
                                    <div class="description">
                                        <p>Consulte e acompanhe o status de seus pedidos em nossa loja.</p>
                                    </div>
                                </div>
                            </a>
                            <!-- @if (Model.User.idTablePrice == 0)
                            {
                                <a class="item" href="~/EventList/Index">
                                    <div class="ui small">
                                        <i class="ui icon big calendar outline purple"></i>
                                    </div>
                                    <div class="content">
                                        <div class="header">Lista de Eventos</div>
                                        <div class="description">
                                            <p>Crie listas de presentes para diversos tipos de eventos.</p>
                                        </div>
                                    </div>
                                </a>
                            }
                            <a class="item" href="/Customer/ShoppingVoucherDetails">
                                <div class="ui small">
                                    <i class="ui icon big tag teal "></i>
                                </div>
                                <div class="content">
                                    <div class="header">Vale Compra</div>
                                    <div class="description">
                                        <p>Consulte o extrato com os valores de Vales Compra de sua conta.</p>
                                    </div>
                                </div>
                            </a>
                            @{
                                bool isb2b = Session["segment"] != null && Session["segment"].ToString() == "b2b" ? true : false;
                                if (!isb2b)
                                {
                                    <a class="item" href="/Customer/WishList">
                                        <div class="ui small">
                                            <i class="ui icon heart big red"></i>
                                        </div>
                                        <div class="content">
                                            <div class="header">Lista de desejos</div>
                                            <div class="description">
                                                <p>Consulte ou edite a lista dos seus produtos preferidos.</p>
                                            </div>
                                        </div>
                                    </a>
                                }
                            } -->

                            <a class="item" href="/Customer/Edit">
                                <div class="ui small">
                                    <i class="ui icon big user green  "></i>
                                </div>
                                <div class="content">
                                    <div class="header">Alterar Dados Cadastrais</div>
                                    <div class="description">
                                        <p>Você poderá alterar seus dados cadastrais.</p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="column">
                        <div class="ui items very relaxed divided menuclient">
                            <a class="item" href="/Customer/changeAddress">
                                <div class="ui small">
                                    <i class="ui icon big marker brown  "></i>
                                </div>
                                <div class="content">
                                    <div class="header">Gestão de Endereços</div>
                                    <div class="description">
                                        <p>Gerencie seus endereços de entrega em nosso sistema.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="item" href="/customer/changepassword">
                                <div class="ui small">
                                    <i class="ui icon big lock grey  "></i>
                                </div>
                                <div class="content">
                                    <div class="header">Alterar senha</div>
                                    <div class="description">
                                        <p>Crie uma nova senha para seu cadastro em nossa loja.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="item" href="/Customer/ChangeEmail">
                                <div class="ui small">
                                    <i class="ui icon big mail olive  "></i>
                                </div>
                                <div class="content">
                                    <div class="header">Alterar e-mail</div>
                                    <div class="description">
                                        <p>Crie um novo e-mail para o seu cadastro em nossa loja.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="item" href="~/Order/ListRecurrentPurchase">
                                <div class="ui small">
                                    <i class="ui icon big shopping basket blue "></i>
                                </div>
                                <div class="content">
                                    <div class="header">Minhas assinaturas</div>
                                    <div class="description">
                                        <p>Acompanhe todas as assinaturas de produtos.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>