/* Safari 4.0 - 8.0 */
@-webkit-keyframes logoEfeito {
    from {
        width: 100%;
    }

    80% {
        width: 0%
    }

    81% {
        width: 0%;
        box-shadow: 0 0 13px 8px #fff;
    }

    100% {
        width: 0%;
        box-shadow: 0 0 0 0 transparent
    }
}

/* Standard syntax */
@keyframes logoEfeito {
    from {
        width: 100%;
    }

    80% {
        width: 0%
    }

    81% {
        width: 0%;
        box-shadow: 0 0 13px 8px #fff;
    }

    100% {
        width: 0%;
        box-shadow: 0 0 0 0 transparent
    }
}

.topo {
    height: 115px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;

    .btn-menu {
        display: none;
    }

    .logo-topo {
        width: 165px;
        height: auto;
        float: left;
        position: relative;
        margin: 12px 0;

        // &::after {
        //     content: '';
        //     width: 100%;
        //     height: 120%;
        //     position: absolute;
        //     top: -13px;
        //     left: 0;
        //     background: url(/assets/image/logo/Probel_antigo.png) center left no-repeat #fff;
        //     -webkit-animation-name: logoEfeito;
        //     -webkit-animation-duration: 4s;
        //     -webkit-animation-delay: 1s;
        //     -webkit-animation-fill-mode: forwards;
        //     /* Safari 4.0 - 8.0 */
        //     animation-name: logoEfeito;
        //     animation-duration: 2s;
        //     animation-delay: 1s;
        //     animation-fill-mode: forwards;
        //     box-shadow: 0 0 13px 8px #fff;
        // }
    }

    .busca-topo {
        width: 600px;
        float: left;
        margin: 0 80px;
        padding: 0 0 23px;
        position: relative;
        z-index: 9;
        
        // &:before{
        //     content: '';
        //     position: absolute;
        //     width: 1px;
        //     height: 24px;
        //     margin-top: 42px;
        //     left: 90%;
        //     border-left: 1px solid #CACACA;
        // }
        // 
        // &:after {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     left: 93%;
        //     margin-top: 42px;
        //     width: 24px;
        //     height: 24px;
        //     float: left;
        //     background: url('/assets/image/search.png');
        //     background-repeat: no-repeat;
        //     background-size: auto;
        // }
        
        img{
            position: absolute;
            top: 42px;
            right: 16px;
            padding-left: 15px;
            border-left: 1px solid #CACACA;
            
            @media screen and (max-width: $mobile-bp) {
                top: 24px;
                right: 21px;
                padding-left: 10px;
            }
        }

        &.ativo:hover::before {
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .prompt {
            width: 100%;
            height: 50px;
            float: left;
            border: 0;
            padding-left: 25px;
            color: #666;
            background: #F4F7FC;
            border: 1px solid #F3F3F3;
            -webkit-box-shadow: 0px 4px 2px -1px rgba(210,222,239,1);
            -moz-box-shadow: 0px 4px 2px -1px rgba(210,222,239,1);
            box-shadow: 0px 4px 2px -1px rgba(210,222,239,1);
            box-sizing: border-box;
            border-radius: 5px;
        }

        // i {
        //     width: 65px;
        //     height: 50px;
        //     float: left;
        //     border-radius: 0 5px 5px 0;
        //     border: 0;
        //     -webkit-box-shadow: 0px 4px 2px -1px rgba(210,222,239,1);
        //     -moz-box-shadow: 0px 4px 2px -1px rgba(210,222,239,1);
        //     box-shadow: 0px 4px 2px -1px rgba(210,222,239,1);
        //     background: #F4F7FC;
        //     cursor: pointer;
        // }
        // 
        // i::after {
        //     content: '';
        //     width: 65px;
        //     height: 50px;
        //     float: left;
        //     background: url('/assets/image/search.png');
        //     background-repeat: no-repeat;
        //     background-size: auto;
        // }
    }
    
    .account-topo_mobile {
        width: 145px;
        float: left;
        margin-top: 30px;
        
        h2 {
            width: 100%;
            color: #005A98;
            text-transform: capitalize;
            font-size: 18px;
            
            &.client_name {
                font-size: 15px;
                margin-top: -10px;
                
                span {
                    display: block;
                }
            }
        }
        
        p {
            width: 100%;
            color: #666;
            font-size: 12px;
            float: left;
            cursor: pointer;
        }
        
        p::after {
            content: '\f107';
            float: right;
            font-size: 14px;
            font-weight: 600;
            font-family: 'fontAwesome';
            color: #999;
        }
        
        ul {
            width: 100%;
            float: left;
            position: relative;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            background: #fff;
            padding: 10px 10px;
            box-shadow: 0 0 3px #999;
            z-index: 9;
            display: none;
            
            li {
                width: auto;
                float: left;
                margin: 10px 0;
                margin-right: 17px;
            }
        }
    }

    .whats_menu {
        width: 200px;
        float: left;
        
        .account-topo {
    
            p{
                display: flex;
                color: #4F4F4F;
                font-size: 12px;
                font-weight: 600;
                cursor: pointer;
                
                img{
                    width: 15px;
                    height: 15px;
                    margin-top: 1px;
                    margin-right: 5px;
                }
            }
    
            ul {
                width: 100%;
                float: left;
                position: relative;
                list-style-type: none;
                margin: 0px;
                padding: 0px;
                background: #fff;
                padding: 10px 10px;
                box-shadow: 0 0 3px #999;
                z-index: 100;
                display: none;
    
                li {
                    width: auto;
                    float: left;
                    margin: 10px 0;
                    
                    &:nth-child(2){
                        @media screen and (min-width: 768px) {
                            margin-right: 33px;
                        }
                    }
                }
            }
        }
        
        > a{
            display: flex;
            position: absolute;
            
            @media screen and (max-width: $mobile-bp) {
                display: none;
            }
            
            i{
                margin-top: 11px;
                margin-right: 5px;
                font-size: 45px;
                color: #3CBE4D;
            }
            
            p {
                width: 100%;
                color: #666;
                font-size: 12px;
                float: left;
                
                strong{
                    color: #15659C;
                    font-size: 16px;
                }
            }
        }
    }
    
    

    #cartButton {
        width: 65px;
        float: right;
        position: relative;

        .icon-cart {
            position: absolute;
            cursor: pointer;
            top: 40px;
            left: 0;
        }

        .icon-cart::before {
            content: '\E901';
            font-family: 'icomoon';
            float: left;
            color: #005A98;
            font-size: 40px;
        }

        #total_itens_card {
            position: absolute;
            color: #fff;
            background: #005A98;
            font-size: 12px;
            cursor: pointer;
            border-radius: 50%;
            border: #fff solid 2px;
            padding: 2px 9px;
            top: 30px;
            right: 0;

        }
    }
}

@media only screen and (max-width: 999px) {
    .topBar {
        display: none;
    }

    .topo {
        height: 204px !important;
        padding-bottom: 0;

        .btn-menu {
            display: block;
            position: absolute;
            left: 20px;
            top: 60px;
            cursor: pointer;

            &::before {
                content: '\f0c9';
                font-family: 'fontAwesome';
                font-size: 38px;
                float: left;
                color: #005A98;
            }
        }

        .logo-topo {
            position: absolute;
            top: 20px;
            left: calc(50% - 82.5px);
        }

        .busca-topo {
            width: 100% !important;
            margin: 120px 0px 0 !important;
            padding: 12px 10px !important;
            background-color: #15659C;
            
            &:before{
                content: '';
                margin-top: 13px;
                left: 85%;
            }
            
            &:after {
                content: '';
                left: 88%;
                margin-top: 13px;
            }

            .prompt {
                width: 100%!important;
                box-shadow: none;
            }
        }

        #cartButton {
            position: absolute !important;
            top: 15px;
            right: 20px;
        }

        .account-topo {
            display: none;
        }
    }
}

._header {
    background: rgb(255, 255, 255);
    margin-top: 0px;

    &.fixed {
        box-shadow: rgba(0, 0, 0, .3) 0px 0px 10px 0px;

        @media screen and (max-width: $mobile-bp) {
            box-shadow: none;
            border-bottom: 1px solid #eee;
        }

        .blocoBusca {
            top: 90px;
        }
    }

    .ui.container {
        padding-top: 0px !important;
        padding-bottom: 10px !important;
    }

    i.circular.icon {
        box-shadow: none;
    }

    .ui.floating.label {
        top: 0.8em;
        left: 105%;
    }

    .searchcolumn {
        .ui.icon.input>i.icon {
            opacity: initial;
        }

        @media screen and (max-width: $mobile-bp) {
            display: none !important;
        }
    }

    .searchMobile {
        display: inline-block;

        @media screen and (min-width: 375px) {
            float: right;
        }

        margin-right: 1em;
        padding-right: 1em;
        border-right: 1px solid #eee;

        >.button {
            background: transparent;
            margin: 0;
        }

        .blocoBusca {
            display: none;

            &.active {
                display: block !important;
                position: fixed;
                right: 10px;
                top: 100px;
                z-index: 10;
                width: calc(100% - 20px);
                height: 40px;

                i {
                    top: 0 !important;
                    right: 0 !important;
                }
            }
        }
    }


    .cartbutton {
        margin: 0;
        display: inline-block;
        cursor: pointer;
        float: right;
        line-height: 36px;

        .ui.basic.button {
            >span {
                @media screen and (max-width: $mobile-bp) {
                    display: none;
                }
            }
        }
    }
}

.wishlist {
    text-align: right !important;

    @media screen and (max-width: $desktop-bp-min) {
        text-align: center !important;
    }

    .absolute {
        position: absolute;
    }

    #wishListCount {
        position: relative;
        bottom: 6px;
        left: 16px;
        min-width: 18px !important;
        min-height: 18px !important;
        padding: 0 !important;
        line-height: 16px !important;
        font-size: 10px !important;
        background: #fff !important;
        border: 1px solid #2c3e50;
    }
}