@font-face {
    font-family: 'icomoon';
    src: url("/assets/fonts/icomoon.eot?awlgm2");
    src: url("/assets/fonts/icomoon.eot?awlgm2#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.ttf?awlgm2") format("truetype"), url("/assets/fonts/icomoon.woff?awlgm2") format("woff");
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Rubik';
    outline: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Rubik';
    line-height: 1.28571429em;
    margin: 0;
    padding: 0;
}

body.aberto{
    overflow: hidden;
}

.container-center{
    width: 1260px;
    margin: 0 auto;
    display: table;
}

.topBar{
    border-bottom: none;
    
    ul{
        margin-top: 0;
        margin-bottom: 10px;
        list-style-type: none;
        float: left;
        padding: 0;
        
        li{
            float: left;
            
            a{
                font-weight: 300;
                color: #999;
            }
        }
        
        li::after{
            width: 1px;
            height: 10px;
            background: #999;
            content: '';
            float: right;
            margin: 4px 10px;
        }
        
        li:last-child::after{
            display: none;
        }
    }
}

@media only screen and (max-width: 1250px) {
    .container-center{
        width: 999px;
    }
    
    .topo .busca-topo{
        width: 550px;
        margin: 0 30px;
    }
    
    .topo .busca-topo .prompt {
        width: 480px;
    }
    
}

@media only screen and (max-width: 999px) {
    .container-center{
        width: 100%;
    }
}