.breadcrumb-sistema{
    padding-top: 15px;

    h1{
        color: #005A98;
    }
}

.ui.form .field > .selection.dropdown{
    height: auto;
}

.ui.grid.stackable{
    h4{
        margin: 20px 0;
    }
}

.row.two.column.stackable{
    .row.two.column{
        margin: 0 15px;
    }
}

@media only screen and (max-width: 999px) {
    .breadcrumb-sistema{
    
        h1{
            padding: 0 10px;
        }
    }

    #formLogin{
        width:70%;
        margin: 0 15%;

        .column{
            width: 100%!important;
        }

        .divider-column{
            width: 100%; 
            height: 50px;
            position: relative;
            float: left;

            .ui.vertical.divider{

                &::after{
                    display: none!important;
                }
    
                &::before{
                    display: none!important;
                }
            }
        }
    }

    .customer{
        .stackable{
            h4{
                margin: 0 10px!important;
            }
        }
    }
    
}

@media only screen and (max-width: 768px) {

    .ui.container.margin.bottom.large{
        .ui.grid{
            margin: 0;
        }
    }

    .ui.container{
        width: 100%!important;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    
    #formLogin{
        width:90%;
        margin: 0 5%;

        .divider-column{
            
            .ui.vertical.divider{
                width: 100%;
                float: left;
                text-align: center;
            }
        }
    }

    .lista-customer{

        >.column:first-child{
            .items{
                border-bottom: 1px solid rgba(34, 36, 38, 0.15);

                .item:last-child{
                    padding-bottom: 20px!important;
                }
            }
        }
        .item{
            text-align: center;

            &

            .ui.small{
                margin: 10px 0; 
                i{
                    margin: 0;
                }
            }
        }
    }



}