﻿<div class="container filtroColchao">
    <div class="container-center">
        <div class="sobre">
            <h2> Conheça a Probel </h2>  

            <p> O primeiro colchão de molas do Brasil, tem 78 anos de tradição e qualidade. Seu pioneirismo e sua tradição tornam Probel à marca de colchões que mais conhece suas necessidades. </p>

            <span> Saiba mais </span>
        </div>
    </div>
</div>