﻿@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}

<div class="container newsHome">
    <div class="container-center hideme">

        <h2> Receba ofertas e descontos exclusivos </h2>
        <p> Conteúdo sobre a qualidade do sono, bem estar e ofertas exclusivas para assinantes.</p>
        <div class="field">
            <div class="campo">
                <input type="text" placeholder="seu@email.com.br">
                <button> Ok </button>
            </div>
        </div>
        <small> Ao concluir você aceitará nossos termos de uso e <a href="#">política de privacidade</a></small>
    </div>
</div>