﻿<div class="container probel">
    <div class="container-center">
        <div class="conheca">
            <h2> Conheça a probel </h2>
            <p> O primeiro colchão de molas no Brasil, tem 78 anos de tradição e qualidade. Seu pioneirismo e sua tradição tornaram Probel à marca de colchões que mais conhece suas necessidades </p> 
            <a href="/institucional/439/1521"><span class="saiba-mais">Saiba mais</span></a>
        </div>

        <div class="filtro">
            <h2> O colchão é uma peça fundamental </h2>
            <p> O colchão é a peça fundamental para uma boa noite de sono. O ideal é que ele seja confortável e tenha o suporte para o seu corpo, porém, é importante optar pelo nível de conforto que mais lhe agrada. </p>

            <ul>
                <li><a href="#"> Macio </a></li>
                <li><a href="#"> Intermediário </a></li>
                <li><a href="#"> Firme </a></li>
                <li><a href="#"> Extra firme </a></li>
            </ul>
        </div>
    </div>
</div>