﻿<div class="container tipo">
    <div class="container-center">
        <h3> Qual tipo de colchão procura? </h3>
        <p> O colchão é a peça fundamental para uma boa noite de sono. O ideal é o que ele seja confortável e tenha o suporte correto para seu corpo, porém, é importante optar pelo nível de conforto que mais lhe agrada. </p>
        <div class="selecao">
            <ul>
                <li> 
                    <a href="/categoria/colchao/colchao-casal">
                        <span class="icon-casal"> </span>
                        <span class="text"> Colchões Casal </span>
                        <span class="btn-ver"> <span>Ver todos </span> </span>
                    </a>
                </li>
                <li> 
                    <a href="/categoria/colchao/colchao-queen">
                        <span class="icon-queen"> </span>
                        <span class="text"> Colchões Queen</span>
                        <span class="btn-ver"> <span>Ver todos </span> </span>
                    </a>
                </li>
                <li> 
                    <a href="/categoria/colchao/colchao-solteiro">
                        <span class="icon-solteiro"> </span>
                        <span class="text"> Colchões Solteiro </span>
                        <span class="btn-ver"> <span>Ver todos </span> </span>
                    </a>
                </li>
                <li> 
                    <a href="/categoria/colchao">
                        <span class="icon-bercos"> </span>
                        <span class="text"> Colchões Infantil </span>
                        <span class="btn-ver"> <span>Ver todos </span> </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>