﻿@model IList<DomainProduct.Entities.Product>

    <div class="vitrine-prod">
        @foreach (DomainProduct.Entities.Product product in Model)
        {
            <!-- Page: ~/Views/Shared/Object/Product/_ProductInCard.cshtml -->
            @Html.Partial("Object/Product/_ProductInCard", product)
        }
    </div>