﻿<!-- Start -->
<script src="~/assets/js/manifest.js"></script>
<script src="~/assets/js/vendor.js?v1"></script>
<script src="~/assets/js/app.js?v1"></script>
<script src="~/assets/js/instagramFeed.js"></script>
<script src="~/assets/js/pr-script.js"></script>

<!--GLOBAL-->
<script type="text/javascript">
    $(document).ready(function () {
        updateQuantidadeTopoCarrinho();
        
        $('.shippingGet').trigger('click');

    })

    function updateQuantidadeTopoCarrinho() {
        $.ajax({
            method: "GET",
            url: "@(Session["EventList"] != null ? "/EventList/TotalItensList" : "/Checkout/TotalItensCart")",
            data: {},
            cache: false,
            success: function (data) {
                $("#total_itens_card").text(data);
                if (data != "")
                    $("#MiniCartTitle").text("@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista") (" + data + ")")
            },
            onFailure: function (data) {
                    if (action == "plus") {
                        valorInput -= 1;
                    } else {
                        valorInput += 1;
                    }
                }
             });
    }
</script>