﻿<!-- Css -->
<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700,900" rel="stylesheet">
<script src="https://use.fontawesome.com/f9bf89fbb9.js"></script>
<link rel="stylesheet" href="~/assets/css/style.css">