﻿@model List<DomainCompany.Entities.CustomPage>

<ul>

    @foreach (var itemTitle in Model)
    {
        foreach (var itemPage in itemTitle.CustomPagesContent)
        {
            <li><a href="/institucional/@itemTitle.IdCustomPage/@itemPage.IdCustomPageContent" class="item" title="@itemPage.Name">@itemPage.Name</a></li>
        }
        if (@itemTitle.Name.ToUpper() == "DÚVIDAS")
        {
            <li><a href="@Url.Action("CommonQuestions", "Company")" class="item" title="Dúvidas Frequentes">Dúvidas Frequentes</a></li>
        }
    }
    <li><a href="/fale-conosco">Fale conosco</a></li>
    <li><a href="https://www.probel.com.br/assistedsale/login?UrlFrom=%2fassistedsale">Venda Assistida</a></li>
</ul>