﻿@model DomainProduct.Filters

<div class="column" id="filter">
    <div class="ui labels">

    </div>
    <div class="four wide filtros filtro-categoria" id="filtros">
                <div class="filterbar">
                    <div class="eight wide">
                        <h3>Filtros</h3>
                    </div>
                    <div class="eight wide">
                        <a class="ui button black icon closeFiltros"><i class="remove icon"></i></a>
                    </div>
                </div>
                    <div class="ui accordion" id="filtroList">
                        @if (Model.GroupingTypes != null && Model.GroupingTypes.Count() > 0)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Product/_GroupingTypesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Product/_GroupingTypesFilters.cshtml", Model.GroupingTypes)
                        }

                        @if (Model.References != null && Model.References.Count() > 0)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Product/_ReferencesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Product/_ReferencesFilters.cshtml", Model.References)
                        }

                        @if (Model.Brands != null && Model.Brands.Count() > 1)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Brand/_BrandsFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Brand/_BrandsFilters.cshtml", Model.Brands)
                        }

                        @if (Model.Categories != null && Model.Categories.Count() > 1)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Category/_CategoriesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Category/_CategoriesFilters.cshtml", Model.Categories)
                        }

                        @if (Model.Attributes != null && Model.Attributes.Count() > 0)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Atribute/_AtributesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Atributes/_AtributesFilters.cshtml", Model.Attributes)
                        }

                        @Html.Partial("~/Views/Shared/Blocks/Product/_PriceFilters.cshtml")
                    </div>
                <!-- Page: ~/Views/Shared/Blocks/Group/_GroupList.cshtml -->
                <!-- @Html.Action("GroupList", "Group") -->

    </div>
</div>

