﻿@{ List
<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List
    <DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List
        <DomainSocialNetwork.Entities.SocialNetwork>();
        }

<div class="container end-probel">
    <div class="container-center">
        <img class="logo" src="/assets/image/logo/Probel_marca.png" alt="Pelmex" title="Pelmex">
        <!-- <p> Endereço: Rua Oceania - CEP: 74985225 - Bairro/Cidade - aparecida de Goiânia<br/>
        Razão Social. Pelmex MS LTDA - CNPJ: 04.419.279/0001-01<br />
        Telefone: +55 (11) 95303-5189</p>-->
    </div>
</div>

<div class="container insta">
    <div class="container-center">
        <h3> Acompanhe nossas redes sociais </h3>
        <span class="img-insta"> </span>

        <div id="instafeed"></div>
    </div>
</div>

<div id="newsletter" class="container newsletter">
    <div class="container-center">
        <div class="face">
            <h3><a href="https://www.facebook.com/probeloficial/" target="_blank"> Curta nossa fanpage <b> /probeloficial </b> </a></h3>
            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>  

        <!-- FORMULÁRIO INTEGRADO A JET E CATCHLEADS -->
        <div class="newsletter-campo">
            <h3> Fique por dentro dos nosso conteúdos </h3>
            <p> Sobre a qualidade do nosso sono, bem estar e ofertas exclusivas para assinantes </p>
            <div class="field">
                <div class="mail">
                    <input type="email" name="mauticform[email_news]" placeholder="seu@email.com.br" id="email_news">
                </div>
            </div>
            <div class="btn-enviar">
                <button class="btn_news" id="btn_news">
                    Cadastrar
                </button>
            </div>
            <div class="label">
                <p>Ao concluir você aceitará nossos termos de uso e política de privacidade</p>
            </div>
        </div>

    </div>
</div>

<div class="container footer">
    <div class="container-center">
        <div class="footer_principal">

            <div class="footer-01-01">
                <h3> Institucional </h3>
                <div class="itens">
                    @Html.Action("CustomPages", "Home")
                </div>
            </div>

            <div class="footer-01-02">
                <h3> Informações </h3>
                <div class="itens">
                    @Html.Action("CustomPages", "Home")
                </div>
            </div>

            <div class="footer-01-03">
                <h3> Atendimento </h3>
                
                <div class="itens">
                    
                    <p>
                        Se o assunto for sobre dúvidas para comprar, rastrear entrega do produto ou outros, clique no <a href="https://probel.com.br/fale-conosco"><strong>Fale Conosco</strong></a>
                    </p>
                    <p>
                        Mas se o seu assunto for direto com a assistência técnica, troca de produto ou informações sobre lojas físicas, também pode optar diretamente pelos contatos:
                    </p>
                    <p> 
                        <a href="mailto:sacprobel@colchoes.ind.br"><strong>E-mail: sacprobel@colchoes.ind.br</strong></a>
                        <br/>
                        <a href="tel:0673565-8049"><strong>Telefone: (67) 3565-8049</strong></a>
                    </p>

                </div>
            </div>

            <div class="footer-01-04 ">
                <h3> Siga a Probel </h3>
                
                <div class="itens">

                    <ul>
                        <li><a href="https://www.facebook.com/probeloficial/"><img src="/assets/image/facebook_logo.png" alt=""></a></li>
                        <li><a href="https://www.instagram.com/probeloficial/"><img src="/assets/image/instagram_logo.png" alt=""></a></li>
                        <li class="hideme"><img src="/assets/image/youtube_logo.png" alt=""></li>
                    </ul>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="container footer-02">
    <div class="container-center">
        
        <div class="pagamento ">
            <h3> Formas de pagamento </h3>
            
            <div class="itens">

                @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")

            </div>

        </div>

        <div class="seguranca ">
            <h3> Segurança </h3>
            
            <div class="itens">
            
                <div id="reputation-ra">
                    <a href="https://letsencrypt.org/" target="_blank"><img src="/assets/image/lets_blue.png" alt="" /></a>
                    <script type="text/javascript" id="ra-embed-reputation" src="https://s3.amazonaws.com/raichu-beta/selos/bundle.js" data-id="NTY5NTpwcm9iZWw=" data-target="reputation-ra" data-model="2"></script>
                </div>
                <img style="display:block; text-align: center; width:auto; height: 150px;" src="/assets/image/ABICOL-selo-3D.png">
            </div>
        </div>
        
        <div class="logos">
            <h3>Implantação/ Tecnologia</h3>
            
            <div class="itens">
                <a href="//www.sandersdigital.com.br/" target="_blank"><img src="/assets/image/sanders_logotipo.png" alt="" /></a>
                <a href="//www.jetecommerce.com.br/plataforma-neo/" target="_blank"><img src="/assets/image/banners/jet.png" alt="" /></a>
            </div>
        </div>
    </div>
</div>

<div class="container footer-03">
    <div class="container-center">
        <p> Todos os preços, condições e promoções deste site são válidos apenas para compras online e não se aplicam às Lojas Físicas.<br/>
        O preço válido será o informado na finalização da compra. Copyright © 2019 probel.com.br. Todos os direitos reservados.</p>
    </div>
</div>

<div class="container footer-04">
    <div class="container-center">
        <p> *A Probel reserva-se o direito de alterar as especificações de seus produtos sem aviso prévio. O tecido poderá sofrer variação de cor conforme o lote do fabricante. Todas as fotos são meramente ilustrativas.</p>
    </div>
</div> 

<div class="modal-block">

</div>
