﻿@model List<DomainProduct.Entities.Category>

<nav>
    <div class="container menu">
        <div class="container-center">
            <span class="close"> </span>
            <ul>
                @foreach (DomainProduct.Entities.Category category in Model)
                {
                    if (category.Level.Length == 2)
                    {
                        <li>
                            <a href="@category.UrlFriendly" class="item" title="@category.Name">
                                @category.Name
                                @if (category.ChildCategories != null && category.ChildCategories.Any())
                                {
                                    <!-- <i class="dropdown icon"></i> -->
                                }
                            </a>
                        </li>
                    }
                }
            </ul>
            <div class="container instMobile">
                <div class="lista_mobile">
                    <div class="row">
                        <div class="column">
                            <a href="/institucional/439/1521"> Institucional </a>
                        </div>
                        <div class="column">
                            <a href="/institucional/439/3107"> Seja um lojista </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <a href="/institucional/439/3109"> Hotelaria </a>
                        </div>
                        <div class="column">
                            <a href="http://blog.probel.com.br" target="_blank"> Blog </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <a href="/institucional/439/3110"> Lojas Exclusivas </a>
                        </div>
                        <div class="column">
                            <a href="/fale-conosco"> Contato </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>